# 6. Pandas

## 6.1. –ü–æ—á–µ–º—É pandas?

pandas ‚Äì –æ–¥–Ω–∞ –∏–∑ —Å–∞–º—ã—Ö –ø–æ–ø—É–ª—è—Ä–Ω—ã—Ö –±–∏–±–ª–∏–æ—Ç–µ–∫ –¥–ª—è –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö —Å –æ—Ç–∫—Ä—ã—Ç—ã–º –∏—Å—Ö–æ–¥–Ω—ã–º –∫–æ–¥–æ–º, –¥–æ—Å—Ç—É–ø–Ω—ã—Ö –≤ –Ω–∞—Å—Ç–æ—è—â–µ–µ –≤—Ä–µ–º—è. –û–Ω–∞ –¥–∞–µ—Ç —Å–≤–æ–∏–º –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è–º –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç—å –∏—Å—Å–ª–µ–¥–æ–≤–∞—Ç—å, –º–∞–Ω–∏–ø—É–ª–∏—Ä–æ–≤–∞—Ç—å, –∑–∞–ø—Ä–∞—à–∏–≤–∞—Ç—å, –∞–≥—Ä–µ–≥–∏—Ä–æ–≤–∞—Ç—å –∏ –≤–∏–∑—É–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å —Ç–∞–±–ª–∏—á–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ. –¢–∞–±–ª–∏—á–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –æ—Ç–Ω–æ—Å—è—Ç—Å—è –∫ –¥–≤—É–º–µ—Ä–Ω—ã–º –¥–∞–Ω–Ω—ã–º, —Å–æ—Å—Ç–æ—è—â–∏–º –∏–∑ —Å—Ç—Ä–æ–∫ –∏ —Å—Ç–æ–ª–±—Ü–æ–≤. –û–±—ã—á–Ω–æ –º—ã –Ω–∞–∑—ã–≤–∞–µ–º —Ç–∞–∫—É—é –æ—Ä–≥–∞–Ω–∏–∑–æ–≤–∞–Ω–Ω—É—é —Å—Ç—Ä—É–∫—Ç—É—Ä—É –¥–∞–Ω–Ω—ã—Ö —Ç–∞–±–ª–∏—Ü–µ–π. pandas ‚Äì —ç—Ç–æ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç, –∫–æ—Ç–æ—Ä—ã–π –º—ã –±—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ—á—Ç–∏ –≤ –∫–∞–∂–¥–æ–º —Ä–∞–∑–¥–µ–ª–µ —ç—Ç–æ–π –∫–Ω–∏–≥–∏.

## 6.2. –ë–∏–±–ª–∏–æ—Ç–µ–∫–∞ pandas –ø–æ—Å—Ç—Ä–æ–µ–Ω–∞ –Ω–∞ NumPy

Pandas –ø–æ—Å—Ç—Ä–æ–µ–Ω–∞ –Ω–∞ –æ—Å–Ω–æ–≤–µ NumPy ‚Äî —ç—Ç–æ –∑–Ω–∞—á–∏—Ç, —á—Ç–æ "–ø–æ–¥ –∫–∞–ø–æ—Ç–æ–º" –≤—Å–µ –¥–∞–Ω–Ω—ã–µ –≤ pandas —Ö—Ä–∞–Ω—è—Ç—Å—è –≤ –≤–∏–¥–µ –º–∞—Å—Å–∏–≤–æ–≤ NumPy. –ú–æ–∂–Ω–æ –¥—É–º–∞—Ç—å –æ–± —ç—Ç–æ–º —Ç–∞–∫:
- NumPy ‚Äî —ç—Ç–æ –Ω–∏–∑–∫–æ—É—Ä–æ–≤–Ω–µ–≤—ã–π –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å —á–∏—Å–ª–∞–º–∏ –∏ –º–∞—Å—Å–∏–≤–∞–º–∏. –û–Ω –±—ã—Å—Ç—Ä—ã–π, –Ω–æ —Ç—Ä–µ–±—É–µ—Ç –±–æ–ª—å—à–µ –∫–æ–¥–∞ –¥–ª—è —Å–ª–æ–∂–Ω—ã—Ö –æ–ø–µ—Ä–∞—Ü–∏–π.
- Pandas ‚Äî —ç—Ç–æ –≤—ã—Å–æ–∫–æ—É—Ä–æ–≤–Ω–µ–≤–∞—è –Ω–∞–¥—Å—Ç—Ä–æ–π–∫–∞ –Ω–∞–¥ NumPy, –∫–æ—Ç–æ—Ä–∞—è –¥–æ–±–∞–≤–ª—è–µ—Ç —É–¥–æ–±–Ω—ã–µ —Å—Ç—Ä—É–∫—Ç—É—Ä—ã –¥–∞–Ω–Ω—ã—Ö (–∫–∞–∫ DataFrame –∏ Series) –∏ –º–Ω–æ–∂–µ—Å—Ç–≤–æ —Ñ—É–Ω–∫—Ü–∏–π –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞.

–ü—Ä–∏–º–µ—Ä: –†–∞–∑–Ω–∏—Ü–∞ –≤ —Å–∫–æ—Ä–æ—Å—Ç–∏  
–î–æ–ø—É—Å—Ç–∏–º, –Ω—É–∂–Ω–æ –≤—ã—á–∏—Å–ª–∏—Ç—å —Å—É–º–º—É –∫–≤–∞–¥—Ä–∞—Ç–æ–≤ —á–∏—Å–µ–ª.

In [1]:
%%time
import pandas as pd
data = pd.Series([1, 2, 3, 4, 5])
result = (data ** 2).sum()  # –ú–µ–¥–ª–µ–Ω–Ω–µ–µ –∏–∑-–∑–∞ –Ω–∞–∫–ª–∞–¥–Ω—ã—Ö —Ä–∞—Å—Ö–æ–¥–æ–≤

CPU times: total: 31.2 ms
Wall time: 289 ms

In [2]:
%%time
import numpy as np
data = np.array([1, 2, 3, 4, 5])
result = np.sum(data ** 2)  # –ë—ã—Å—Ç—Ä–µ–µ, —Ç–∞–∫ –∫–∞–∫ —Ä–∞–±–æ—Ç–∞–µ–º –Ω–∞–ø—Ä—è–º—É—é —Å –º–∞—Å—Å–∏–≤–∞–º–∏

CPU times: total: 0 ns
Wall time: 0 ns

## 6.3. pandas —Ä–∞–±–æ—Ç–∞–µ—Ç —Å —Ç–∞–±–ª–∏—á–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏

Pandas ‚Äî —ç—Ç–æ –±–∏–±–ª–∏–æ—Ç–µ–∫–∞, —Å–ø–µ—Ü–∏–∞–ª—å–Ω–æ —Å–æ–∑–¥–∞–Ω–Ω–∞—è –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å —Ç–∞–±–ª–∏—á–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏ (–¥–≤—É–º–µ—Ä–Ω—ã–º–∏ —Å—Ç—Ä—É–∫—Ç—É—Ä–∞–º–∏, –ø–æ—Ö–æ–∂–∏–º–∏ –Ω–∞ —Ç–∞–±–ª–∏—Ü—ã –≤ Excel).  
Pandas —É–º–µ–µ—Ç —á–∏—Ç–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –∏–∑ –º–Ω–æ–∂–µ—Å—Ç–≤–∞ —Ñ–æ—Ä–º–∞—Ç–æ–≤ –∏ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤—ã–≤–∞—Ç—å –∏—Ö –≤ —Ç–∞–±–ª–∏—Ü—É (DataFrame):
- CSV ‚Üí `pd.read_csv()`
- JSON ‚Üí `pd.read_json()`
- Excel ‚Üí `pd.read_excel()`
- Parquet ‚Üí `pd.read_parquet()`
- XML, —Ç–µ–∫—Å—Ç–æ–≤—ã–µ —Ñ–∞–π–ª—ã –∏ –¥—Ä—É–≥–∏–µ.
```python
import pandas as pd
# –ß—Ç–µ–Ω–∏–µ CSV-—Ñ–∞–π–ª–∞
data = pd.read_csv('data.csv')
# –ß—Ç–µ–Ω–∏–µ JSON-—Ñ–∞–π–ª–∞
data = pd.read_json('data.json')
```

## 6.4. –û–±—ä–µ–∫—Ç—ã DataFrame –∏ Series

**Series (–°–µ—Ä–∏—è)** –û–¥–Ω–æ–º–µ—Ä–Ω—ã–π –º–∞—Å—Å–∏–≤ –¥–∞–Ω–Ω—ã—Ö ‚Äî –∫–∞–∫ –æ–¥–∏–Ω —Å—Ç–æ–ª–±–µ—Ü –≤ —Ç–∞–±–ª–∏—Ü–µ. –ê–Ω–∞–ª–æ–≥–∏—è: –°—Ç–æ–ª–±–µ—Ü –≤ Excel.

–û—Å–æ–±–µ–Ω–Ω–æ—Å—Ç–∏:
- –ò–º–µ–µ—Ç –∏–Ω–¥–µ–∫—Å (–Ω–æ–º–µ—Ä–∞ —Å—Ç—Ä–æ–∫, –Ω–∞—á–∏–Ω–∞—è —Å 0).
- –ú–æ–∂–µ—Ç —Å–æ–¥–µ—Ä–∂–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –ª—é–±–æ–≥–æ —Ç–∏–ø–∞ (—á–∏—Å–ª–∞, —Å—Ç—Ä–æ–∫–∏, –¥–∞—Ç—ã).

**DataFrame (–î–∞—Ç–∞—Ñ—Ä–µ–π–º)** –î–≤—É–º–µ—Ä–Ω–∞—è —Ç–∞–±–ª–∏—Ü–∞ —Å —Å—Ç—Ä–æ–∫–∞–º–∏ –∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏ ‚Äî –∫–∞–∫ –≤–µ—Å—å –ª–∏—Å—Ç Excel.  –ê–Ω–∞–ª–æ–≥–∏—è: –¶–µ–ª–∞—è —Ç–∞–±–ª–∏—Ü–∞ –≤ Excel.

–û—Å–æ–±–µ–Ω–Ω–æ—Å—Ç–∏:
- –ö–∞–∂–¥—ã–π —Å—Ç–æ–ª–±–µ—Ü ‚Äî —ç—Ç–æ –æ–±—ä–µ–∫—Ç Series.
- –°—Ç–æ–ª–±—Ü—ã –º–æ–≥—É—Ç –±—ã—Ç—å —Ä–∞–∑–Ω—ã—Ö —Ç–∏–ø–æ–≤ (—á–∏—Å–ª–∞, —Å—Ç—Ä–æ–∫–∏, –¥–∞—Ç—ã).
- –ï—Å—Ç—å –∏–Ω–¥–µ–∫—Å (–Ω–æ–º–µ—Ä–∞ —Å—Ç—Ä–æ–∫) –∏ –Ω–∞–∑–≤–∞–Ω–∏—è —Å—Ç–æ–ª–±—Ü–æ–≤.

axis=0 ‚Äî –æ–ø–µ—Ä–∞—Ü–∏–∏ –ø–æ —Å—Ç—Ä–æ–∫–∞–º (–≤–µ—Ä—Ç–∏–∫–∞–ª—å–Ω–æ). –ù–∞–ø—Ä–∏–º–µ—Ä: df.mean(axis=0) –≤—ã—á–∏—Å–ª–∏—Ç —Å—Ä–µ–¥–Ω–µ–µ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞.  
axis=1 ‚Äî –æ–ø–µ—Ä–∞—Ü–∏–∏ –ø–æ —Å—Ç–æ–ª–±—Ü–∞–º (–≥–æ—Ä–∏–∑–æ–Ω—Ç–∞–ª—å–Ω–æ). –ù–∞–ø—Ä–∏–º–µ—Ä: df.mean(axis=1) –≤—ã—á–∏—Å–ª–∏—Ç —Å—Ä–µ–¥–Ω–µ–µ –¥–ª—è –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–∏.

In [3]:
import pandas as pd

df = pd.DataFrame({
    'Empl': [10, 20],  # –°—Ç–æ–ª–±–µ—Ü "Empl"
    'Age': [30, 40]     # –°—Ç–æ–ª–±–µ—Ü "Age"
})

# –°—Ä–µ–¥–Ω–µ–µ –ø–æ —Å—Ç–æ–ª–±—Ü–∞–º (axis=0)
print(df.mean(axis=0))
print()

# –°—Ä–µ–¥–Ω–µ–µ –ø–æ —Å—Ç—Ä–æ–∫–∞–º (axis=1)
print(df.mean(axis=1))
print()

display(df)

Empl    15.0
Age     35.0
dtype: float64

0    20.0
1    30.0
dtype: float64

   Empl  Age
0    10   30
1    20   40

üöÄ

## 6.5. –ó–∞–¥–∞—á–∏, –≤—ã–ø–æ–ª–Ω—è–µ–º—ã–µ pandas

1. –ß—Ç–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö üìÇ  
Pandas —É–º–µ–µ—Ç –∑–∞–≥—Ä—É–∂–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ä–∞–∑–Ω—ã—Ö —Ñ–æ—Ä–º–∞—Ç–æ–≤:
- CSV: `pd.read_csv('file.csv')`
- Excel: `pd.read_excel('file.xlsx')`
- JSON: `pd.read_json('file.json')`
- –ë–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö: `pd.read_sql('SELECT * FROM table', connection)`

–ü—Ä–∏–º–µ—Ä:
```python
import pandas as pd
data = pd.read_csv('data.csv')  # –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ –∏–∑ CSV
```
2. –î–æ—Å—Ç—É–ø –∫ —Å—Ç—Ä–æ–∫–∞–º –∏ —Å—Ç–æ–ª–±—Ü–∞–º üîç  
–ú–æ–∂–Ω–æ –ª–µ–≥–∫–æ –≤—ã–±–∏—Ä–∞—Ç—å –Ω—É–∂–Ω—ã–µ —á–∞—Å—Ç–∏ –¥–∞–Ω–Ω—ã—Ö:
- –°—Ç–æ–ª–±—Ü—ã: `data['column_name']` –∏–ª–∏ `data.column_name`
- –°—Ç—Ä–æ–∫–∏: `data.loc[0]` (–ø–æ –∏–Ω–¥–µ–∫—Å—É) –∏–ª–∏ `data.iloc[0]` (–ø–æ –Ω–æ–º–µ—Ä—É)
- –Ø—á–µ–π–∫–∏: `data.at[0, 'column_name']`

–ü—Ä–∏–º–µ—Ä:
```python
# –í—ã–±–µ—Ä–µ–º —Å—Ç–æ–ª–±–µ—Ü "Age"
ages = data['Age']

# –ü–µ—Ä–≤–∞—è —Å—Ç—Ä–æ–∫–∞
first_row = data.loc[0]
```
3. –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö üîé  
–û—Ç–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –ø–æ —É—Å–ª–æ–≤–∏—è–º:
- –ü—Ä–æ—Å—Ç–æ–π —Ñ–∏–ª—å—Ç—Ä: `data[data['Age'] > 30]`
- –ù–µ—Å–∫–æ–ª—å–∫–æ —É—Å–ª–æ–≤–∏–π: `data[(data['Age'] > 30) & (data['City'] == 'Moscow')]`

–ü—Ä–∏–º–µ—Ä:
```python
# –í—Å–µ –∫–ª–∏–µ–Ω—Ç—ã —Å—Ç–∞—Ä—à–µ 30 –ª–µ—Ç
adults = data[data['Age'] > 30]
```
4. –ê–≥—Ä–µ–≥–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö üìä  
–°–≤–æ–¥–Ω—ã–µ –≤—ã—á–∏—Å–ª–µ–Ω–∏—è:
- –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞: `data.groupby('City')['Age'].mean()` ‚Äî —Å—Ä–µ–¥–Ω–∏–π –≤–æ–∑—Ä–∞—Å—Ç –ø–æ –≥–æ—Ä–æ–¥–∞–º
- –°–≤–æ–¥–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã: `pd.pivot_table(data, values='Sales', index='Region')`

–ü—Ä–∏–º–µ—Ä:
```python
# –°—Ä–µ–¥–Ω–∏–π –¥–æ—Ö–æ–¥ –ø–æ –ø—Ä–æ—Ñ–µ—Å—Å–∏—è–º
income_by_job = data.groupby('Job')['Income'].mean()
```
5. –ß–∏—Å—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö üßπ  
–ü—Ä–∏–≤–µ–¥–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –≤ –ø–æ—Ä—è–¥–æ–∫:
- –ü—Ä–æ–ø—É—Å–∫–∏: `data.dropna()` (—É–¥–∞–ª–∏—Ç—å –ø—É—Å—Ç—ã–µ) –∏–ª–∏ `data.fillna(0)` (–∑–∞–ø–æ–ª–Ω–∏—Ç—å –Ω—É–ª—è–º–∏)
- –î—É–±–ª–∏–∫–∞—Ç—ã: `data.drop_duplicates()`
- –ò–∑–º–µ–Ω–µ–Ω–∏–µ —Ç–∏–ø–æ–≤: `data['Column'] = data['Column'].astype(int)`

–ü—Ä–∏–º–µ—Ä:
```python
# –ó–∞–ø–æ–ª–Ω–∏–º –ø—Ä–æ–ø—É—Å–∫–∏ –≤ –≤–æ–∑—Ä–∞—Å—Ç–µ –º–µ–¥–∏–∞–Ω–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º
median_age = data['Age'].median()
data['Age'] = data['Age'].fillna(median_age)
```
6. –ò–∑–º–µ–Ω–µ–Ω–∏–µ —Ñ–æ—Ä–º—ã –¥–∞–Ω–Ω—ã—Ö üîÑ  
–†–µ—Å—Ç—Ä—É–∫—Ç—É—Ä–∏–∑–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö:
- –î–æ–±–∞–≤–ª–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤: `data['New_Column'] = data['A'] + data['B']`
- –ü–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–Ω–∏–µ: `data.rename(columns={'Old_Name': 'New_Name'})`
- –°–ª–∏—è–Ω–∏–µ —Ç–∞–±–ª–∏—Ü: `pd.merge(data1, data2, on='key')`

–ü—Ä–∏–º–µ—Ä:
```python
# –°–æ–∑–¥–∞–¥–∏–º –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü
data['Full_Name'] = data['First_Name'] + ' ' + data['Last_Name']
```
7. –ê–Ω–∞–ª–∏–∑ –≤—Ä–µ–º–µ–Ω–Ω—ã—Ö —Ä—è–¥–æ–≤ üìÖ  
–†–∞–±–æ—Ç–∞ —Å –¥–∞—Ç–∞–º–∏ –∏ –≤—Ä–µ–º–µ–Ω–µ–º:
- –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –¥–∞—Ç: `data['Date'] = pd.to_datetime(data['Date'])`
- –í—Ä–µ–º–µ–Ω–Ω—ã–µ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏: `data.resample('M')['Sales'].sum()` ‚Äî –ø—Ä–æ–¥–∞–∂–∏ –ø–æ –º–µ—Å—è—Ü–∞–º

–ü—Ä–∏–º–µ—Ä:
```python
# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º —Å—Ç—Ä–æ–∫—É –≤ –¥–∞—Ç—É
data['Date'] = pd.to_datetime(data['Date'])

# –ü—Ä–æ–¥–∞–∂–∏ –ø–æ –º–µ—Å—è—Ü–∞–º
monthly_sales = data.resample('M', on='Date')['Sales'].sum()
```
8. –í–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö üìà  
Pandas –∏–Ω—Ç–µ–≥—Ä–∏—Ä–æ–≤–∞–Ω —Å –±–∏–±–ª–∏–æ—Ç–µ–∫–∞–º–∏ –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–∏:
- –ì—Ä–∞—Ñ–∏–∫–∏: `data.plot()`, `data.hist()`
- –ò–Ω—Ç–µ–≥—Ä–∞—Ü–∏—è —Å Matplotlib/Seaborn

–ü—Ä–∏–º–µ—Ä:
```python
import matplotlib.pyplot as plt
data['Sales'].plot(kind='bar')
plt.show()
```

## 6.6. –ö—Ä–∞—Ç–∫–æ –æ —Ç–∏–ø–∞—Ö –¥–∞–Ω–Ω—ã—Ö

**–û—Å–Ω–æ–≤–Ω—ã–µ —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö**
|–¢–∏–ø –¥–∞–Ω–Ω—ã—Ö|–û–ø–∏—Å–∞–Ω–∏–µ|–ü—Ä–∏–º–µ—Ä|
|-|-|-|
|boolean|–õ–æ–≥–∏—á–µ—Å–∫–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è|True, False|
|integer|–¶–µ–ª—ã–µ —á–∏—Å–ª–∞|10, -5, 0|
|float|–ß–∏—Å–ª–∞ —Å –ø–ª–∞–≤–∞—é—â–µ–π —Ç–æ—á–∫–æ–π (–¥—Ä–æ–±–Ω—ã–µ)|3.14, -0.5|
|object|–ß–∞—â–µ –≤—Å–µ–≥–æ —Å—Ç—Ä–æ–∫–∏, –Ω–æ –º–æ–∂–µ—Ç –±—ã—Ç—å –ª—é–±–æ–π –æ–±—ä–µ–∫—Ç Python|"–¢–µ–∫—Å—Ç", `[1, 2, 3]`|
|datetime|–î–∞—Ç–∞ –∏ –≤—Ä–µ–º—è|2023-01-15 14:30:00|

–ü—Ä–æ–≤–µ—Ä–∏—Ç—å —Ç–∏–ø—ã

In [4]:
import pandas as pd

# –°–æ–∑–¥–∞–µ–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º
df = pd.DataFrame({
    'Age': [25, 30],          # int
    'Salary': [50000.0, 60000.0],  # float
    'Name': ['Anna', 'Ivan']  # object (—Å—Ç—Ä–æ–∫–∞)
})

# –°–º–æ—Ç—Ä–∏–º —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö
print(df.dtypes)

Age         int64
Salary    float64
Name       object
dtype: object

–ò–∑–º–µ–Ω–∏—Ç—å —Ç–∏–ø

In [5]:
# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º —Å—Ç–æ–ª–±–µ—Ü –≤ –¥—Ä—É–≥–æ–π —Ç–∏–ø
df['Age'] = df['Age'].astype(float)  # –¢–µ–ø–µ—Ä—å float
df['Name'] = df['Name'].astype('string')  # –≠–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç–∞–ª—å–Ω—ã–π —Å—Ç—Ä–æ–∫–æ–≤—ã–π —Ç–∏–ø

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     2 non-null      float64
 1   Salary  2 non-null      float64
 2   Name    2 non-null      string
dtypes: float64(2), string(1)
memory usage: 180.0 bytes