# 6. Pandas

## 6.1. –ü–æ—á–µ–º—É pandas?

pandas ‚Äì –æ–¥–Ω–∞ –∏–∑ —Å–∞–º—ã—Ö –ø–æ–ø—É–ª—è—Ä–Ω—ã—Ö –±–∏–±–ª–∏–æ—Ç–µ–∫ –¥–ª—è –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö —Å –æ—Ç–∫—Ä—ã—Ç—ã–º –∏—Å—Ö–æ–¥–Ω—ã–º –∫–æ–¥–æ–º, –¥–æ—Å—Ç—É–ø–Ω—ã—Ö –≤ –Ω–∞—Å—Ç–æ—è—â–µ–µ –≤—Ä–µ–º—è. –û–Ω–∞ –¥–∞–µ—Ç —Å–≤–æ–∏–º –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è–º –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç—å –∏—Å—Å–ª–µ–¥–æ–≤–∞—Ç—å, –º–∞–Ω–∏–ø—É–ª–∏—Ä–æ–≤–∞—Ç—å, –∑–∞–ø—Ä–∞—à–∏–≤–∞—Ç—å, –∞–≥—Ä–µ–≥–∏—Ä–æ–≤–∞—Ç—å –∏ –≤–∏–∑—É–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å —Ç–∞–±–ª–∏—á–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ. –¢–∞–±–ª–∏—á–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –æ—Ç–Ω–æ—Å—è—Ç—Å—è –∫ –¥–≤—É–º–µ—Ä–Ω—ã–º –¥–∞–Ω–Ω—ã–º, —Å–æ—Å—Ç–æ—è—â–∏–º –∏–∑ —Å—Ç—Ä–æ–∫ –∏ —Å—Ç–æ–ª–±—Ü–æ–≤. –û–±—ã—á–Ω–æ –º—ã –Ω–∞–∑—ã–≤–∞–µ–º —Ç–∞–∫—É—é –æ—Ä–≥–∞–Ω–∏–∑–æ–≤–∞–Ω–Ω—É—é —Å—Ç—Ä—É–∫—Ç—É—Ä—É –¥–∞–Ω–Ω—ã—Ö —Ç–∞–±–ª–∏—Ü–µ–π. pandas ‚Äì —ç—Ç–æ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç, –∫–æ—Ç–æ—Ä—ã–π –º—ã –±—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ—á—Ç–∏ –≤ –∫–∞–∂–¥–æ–º —Ä–∞–∑–¥–µ–ª–µ —ç—Ç–æ–π –∫–Ω–∏–≥–∏.

## 6.2. –ë–∏–±–ª–∏–æ—Ç–µ–∫–∞ pandas –ø–æ—Å—Ç—Ä–æ–µ–Ω–∞ –Ω–∞ NumPy

Pandas –ø–æ—Å—Ç—Ä–æ–µ–Ω–∞ –Ω–∞ –æ—Å–Ω–æ–≤–µ NumPy ‚Äî —ç—Ç–æ –∑–Ω–∞—á–∏—Ç, —á—Ç–æ "–ø–æ–¥ –∫–∞–ø–æ—Ç–æ–º" –≤—Å–µ –¥–∞–Ω–Ω—ã–µ –≤ pandas —Ö—Ä–∞–Ω—è—Ç—Å—è –≤ –≤–∏–¥–µ –º–∞—Å—Å–∏–≤–æ–≤ NumPy. –ú–æ–∂–Ω–æ –¥—É–º–∞—Ç—å –æ–± —ç—Ç–æ–º —Ç–∞–∫:
- NumPy ‚Äî —ç—Ç–æ –Ω–∏–∑–∫–æ—É—Ä–æ–≤–Ω–µ–≤—ã–π –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å —á–∏—Å–ª–∞–º–∏ –∏ –º–∞—Å—Å–∏–≤–∞–º–∏. –û–Ω –±—ã—Å—Ç—Ä—ã–π, –Ω–æ —Ç—Ä–µ–±—É–µ—Ç –±–æ–ª—å—à–µ –∫–æ–¥–∞ –¥–ª—è —Å–ª–æ–∂–Ω—ã—Ö –æ–ø–µ—Ä–∞—Ü–∏–π.
- Pandas ‚Äî —ç—Ç–æ –≤—ã—Å–æ–∫–æ—É—Ä–æ–≤–Ω–µ–≤–∞—è –Ω–∞–¥—Å—Ç—Ä–æ–π–∫–∞ –Ω–∞–¥ NumPy, –∫–æ—Ç–æ—Ä–∞—è –¥–æ–±–∞–≤–ª—è–µ—Ç —É–¥–æ–±–Ω—ã–µ —Å—Ç—Ä—É–∫—Ç—É—Ä—ã –¥–∞–Ω–Ω—ã—Ö (–∫–∞–∫ DataFrame –∏ Series) –∏ –º–Ω–æ–∂–µ—Å—Ç–≤–æ —Ñ—É–Ω–∫—Ü–∏–π –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞.

–ü—Ä–∏–º–µ—Ä: –†–∞–∑–Ω–∏—Ü–∞ –≤ —Å–∫–æ—Ä–æ—Å—Ç–∏  
–î–æ–ø—É—Å—Ç–∏–º, –Ω—É–∂–Ω–æ –≤—ã—á–∏—Å–ª–∏—Ç—å —Å—É–º–º—É –∫–≤–∞–¥—Ä–∞—Ç–æ–≤ —á–∏—Å–µ–ª.

In [1]:
%%time
import pandas as pd
data = pd.Series([1, 2, 3, 4, 5])
result = (data ** 2).sum()  # –ú–µ–¥–ª–µ–Ω–Ω–µ–µ –∏–∑-–∑–∞ –Ω–∞–∫–ª–∞–¥–Ω—ã—Ö —Ä–∞—Å—Ö–æ–¥–æ–≤

CPU times: total: 219 ms
Wall time: 298 ms

In [2]:
%%time
import numpy as np
data = np.array([1, 2, 3, 4, 5])
result = np.sum(data ** 2)  # –ë—ã—Å—Ç—Ä–µ–µ, —Ç–∞–∫ –∫–∞–∫ —Ä–∞–±–æ—Ç–∞–µ–º –Ω–∞–ø—Ä—è–º—É—é —Å –º–∞—Å—Å–∏–≤–∞–º–∏

CPU times: total: 0 ns
Wall time: 0 ns

## 6.3. pandas —Ä–∞–±–æ—Ç–∞–µ—Ç —Å —Ç–∞–±–ª–∏—á–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏

Pandas ‚Äî —ç—Ç–æ –±–∏–±–ª–∏–æ—Ç–µ–∫–∞, —Å–ø–µ—Ü–∏–∞–ª—å–Ω–æ —Å–æ–∑–¥–∞–Ω–Ω–∞—è –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å —Ç–∞–±–ª–∏—á–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏ (–¥–≤—É–º–µ—Ä–Ω—ã–º–∏ —Å—Ç—Ä—É–∫—Ç—É—Ä–∞–º–∏, –ø–æ—Ö–æ–∂–∏–º–∏ –Ω–∞ —Ç–∞–±–ª–∏—Ü—ã –≤ Excel).  
Pandas —É–º–µ–µ—Ç —á–∏—Ç–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –∏–∑ –º–Ω–æ–∂–µ—Å—Ç–≤–∞ —Ñ–æ—Ä–º–∞—Ç–æ–≤ –∏ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤—ã–≤–∞—Ç—å –∏—Ö –≤ —Ç–∞–±–ª–∏—Ü—É (DataFrame):
- CSV ‚Üí `pd.read_csv()`
- JSON ‚Üí `pd.read_json()`
- Excel ‚Üí `pd.read_excel()`
- Parquet ‚Üí `pd.read_parquet()`
- XML, —Ç–µ–∫—Å—Ç–æ–≤—ã–µ —Ñ–∞–π–ª—ã –∏ –¥—Ä—É–≥–∏–µ.
```python
import pandas as pd
# –ß—Ç–µ–Ω–∏–µ CSV-—Ñ–∞–π–ª–∞
data = pd.read_csv('data.csv')
# –ß—Ç–µ–Ω–∏–µ JSON-—Ñ–∞–π–ª–∞
data = pd.read_json('data.json')
```

## 6.4. –û–±—ä–µ–∫—Ç—ã DataFrame –∏ Series

**Series (–°–µ—Ä–∏—è)** –û–¥–Ω–æ–º–µ—Ä–Ω—ã–π –º–∞—Å—Å–∏–≤ –¥–∞–Ω–Ω—ã—Ö ‚Äî –∫–∞–∫ –æ–¥–∏–Ω —Å—Ç–æ–ª–±–µ—Ü –≤ —Ç–∞–±–ª–∏—Ü–µ. –ê–Ω–∞–ª–æ–≥–∏—è: –°—Ç–æ–ª–±–µ—Ü –≤ Excel.

–û—Å–æ–±–µ–Ω–Ω–æ—Å—Ç–∏:
- –ò–º–µ–µ—Ç –∏–Ω–¥–µ–∫—Å (–Ω–æ–º–µ—Ä–∞ —Å—Ç—Ä–æ–∫, –Ω–∞—á–∏–Ω–∞—è —Å 0).
- –ú–æ–∂–µ—Ç —Å–æ–¥–µ—Ä–∂–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –ª—é–±–æ–≥–æ —Ç–∏–ø–∞ (—á–∏—Å–ª–∞, —Å—Ç—Ä–æ–∫–∏, –¥–∞—Ç—ã).

**DataFrame (–î–∞—Ç–∞—Ñ—Ä–µ–π–º)** –î–≤—É–º–µ—Ä–Ω–∞—è —Ç–∞–±–ª–∏—Ü–∞ —Å —Å—Ç—Ä–æ–∫–∞–º–∏ –∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏ ‚Äî –∫–∞–∫ –≤–µ—Å—å –ª–∏—Å—Ç Excel.  –ê–Ω–∞–ª–æ–≥–∏—è: –¶–µ–ª–∞—è —Ç–∞–±–ª–∏—Ü–∞ –≤ Excel.

–û—Å–æ–±–µ–Ω–Ω–æ—Å—Ç–∏:
- –ö–∞–∂–¥—ã–π —Å—Ç–æ–ª–±–µ—Ü ‚Äî —ç—Ç–æ –æ–±—ä–µ–∫—Ç Series.
- –°—Ç–æ–ª–±—Ü—ã –º–æ–≥—É—Ç –±—ã—Ç—å —Ä–∞–∑–Ω—ã—Ö —Ç–∏–ø–æ–≤ (—á–∏—Å–ª–∞, —Å—Ç—Ä–æ–∫–∏, –¥–∞—Ç—ã).
- –ï—Å—Ç—å –∏–Ω–¥–µ–∫—Å (–Ω–æ–º–µ—Ä–∞ —Å—Ç—Ä–æ–∫) –∏ –Ω–∞–∑–≤–∞–Ω–∏—è —Å—Ç–æ–ª–±—Ü–æ–≤.

axis=0 ‚Äî –æ–ø–µ—Ä–∞—Ü–∏–∏ –ø–æ —Å—Ç—Ä–æ–∫–∞–º (–≤–µ—Ä—Ç–∏–∫–∞–ª—å–Ω–æ). –ù–∞–ø—Ä–∏–º–µ—Ä: df.mean(axis=0) –≤—ã—á–∏—Å–ª–∏—Ç —Å—Ä–µ–¥–Ω–µ–µ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞.  
axis=1 ‚Äî –æ–ø–µ—Ä–∞—Ü–∏–∏ –ø–æ —Å—Ç–æ–ª–±—Ü–∞–º (–≥–æ—Ä–∏–∑–æ–Ω—Ç–∞–ª—å–Ω–æ). –ù–∞–ø—Ä–∏–º–µ—Ä: df.mean(axis=1) –≤—ã—á–∏—Å–ª–∏—Ç —Å—Ä–µ–¥–Ω–µ–µ –¥–ª—è –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–∏.

In [3]:
import pandas as pd

df = pd.DataFrame({
    'Empl': [10, 20],  # –°—Ç–æ–ª–±–µ—Ü "Empl"
    'Age': [30, 40]     # –°—Ç–æ–ª–±–µ—Ü "Age"
})

# –°—Ä–µ–¥–Ω–µ–µ –ø–æ —Å—Ç–æ–ª–±—Ü–∞–º (axis=0)
print(df.mean(axis=0))
print()

# –°—Ä–µ–¥–Ω–µ–µ –ø–æ —Å—Ç—Ä–æ–∫–∞–º (axis=1)
print(df.mean(axis=1))
print()

display(df)

Empl    15.0
Age     35.0
dtype: float64

0    20.0
1    30.0
dtype: float64

   Empl  Age
0    10   30
1    20   40

üöÄ

## 6.5. –ó–∞–¥–∞—á–∏, –≤—ã–ø–æ–ª–Ω—è–µ–º—ã–µ pandas

1. –ß—Ç–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö üìÇ  
Pandas —É–º–µ–µ—Ç –∑–∞–≥—Ä—É–∂–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ä–∞–∑–Ω—ã—Ö —Ñ–æ—Ä–º–∞—Ç–æ–≤:
- CSV: `pd.read_csv('file.csv')`
- Excel: `pd.read_excel('file.xlsx')`
- JSON: `pd.read_json('file.json')`
- –ë–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö: `pd.read_sql('SELECT * FROM table', connection)`

–ü—Ä–∏–º–µ—Ä:
```python
import pandas as pd
data = pd.read_csv('data.csv')  # –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ –∏–∑ CSV
```
2. –î–æ—Å—Ç—É–ø –∫ —Å—Ç—Ä–æ–∫–∞–º –∏ —Å—Ç–æ–ª–±—Ü–∞–º üîç  
–ú–æ–∂–Ω–æ –ª–µ–≥–∫–æ –≤—ã–±–∏—Ä–∞—Ç—å –Ω—É–∂–Ω—ã–µ —á–∞—Å—Ç–∏ –¥–∞–Ω–Ω—ã—Ö:
- –°—Ç–æ–ª–±—Ü—ã: `data['column_name']` –∏–ª–∏ `data.column_name`
- –°—Ç—Ä–æ–∫–∏: `data.loc[0]` (–ø–æ –∏–Ω–¥–µ–∫—Å—É) –∏–ª–∏ `data.iloc[0]` (–ø–æ –Ω–æ–º–µ—Ä—É)
- –Ø—á–µ–π–∫–∏: `data.at[0, 'column_name']`

–ü—Ä–∏–º–µ—Ä:
```python
# –í—ã–±–µ—Ä–µ–º —Å—Ç–æ–ª–±–µ—Ü "Age"
ages = data['Age']

# –ü–µ—Ä–≤–∞—è —Å—Ç—Ä–æ–∫–∞
first_row = data.loc[0]
```
3. –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö üîé  
–û—Ç–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –ø–æ —É—Å–ª–æ–≤–∏—è–º:
- –ü—Ä–æ—Å—Ç–æ–π —Ñ–∏–ª—å—Ç—Ä: `data[data['Age'] > 30]`
- –ù–µ—Å–∫–æ–ª—å–∫–æ —É—Å–ª–æ–≤–∏–π: `data[(data['Age'] > 30) & (data['City'] == 'Moscow')]`

–ü—Ä–∏–º–µ—Ä:
```python
# –í—Å–µ –∫–ª–∏–µ–Ω—Ç—ã —Å—Ç–∞—Ä—à–µ 30 –ª–µ—Ç
adults = data[data['Age'] > 30]
```
4. –ê–≥—Ä–µ–≥–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö üìä  
–°–≤–æ–¥–Ω—ã–µ –≤—ã—á–∏—Å–ª–µ–Ω–∏—è:
- –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞: `data.groupby('City')['Age'].mean()` ‚Äî —Å—Ä–µ–¥–Ω–∏–π –≤–æ–∑—Ä–∞—Å—Ç –ø–æ –≥–æ—Ä–æ–¥–∞–º
- –°–≤–æ–¥–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã: `pd.pivot_table(data, values='Sales', index='Region')`

–ü—Ä–∏–º–µ—Ä:
```python
# –°—Ä–µ–¥–Ω–∏–π –¥–æ—Ö–æ–¥ –ø–æ –ø—Ä–æ—Ñ–µ—Å—Å–∏—è–º
income_by_job = data.groupby('Job')['Income'].mean()
```
5. –ß–∏—Å—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö üßπ  
–ü—Ä–∏–≤–µ–¥–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –≤ –ø–æ—Ä—è–¥–æ–∫:
- –ü—Ä–æ–ø—É—Å–∫–∏: `data.dropna()` (—É–¥–∞–ª–∏—Ç—å –ø—É—Å—Ç—ã–µ) –∏–ª–∏ `data.fillna(0)` (–∑–∞–ø–æ–ª–Ω–∏—Ç—å –Ω—É–ª—è–º–∏)
- –î—É–±–ª–∏–∫–∞—Ç—ã: `data.drop_duplicates()`
- –ò–∑–º–µ–Ω–µ–Ω–∏–µ —Ç–∏–ø–æ–≤: `data['Column'] = data['Column'].astype(int)`

–ü—Ä–∏–º–µ—Ä:
```python
# –ó–∞–ø–æ–ª–Ω–∏–º –ø—Ä–æ–ø—É—Å–∫–∏ –≤ –≤–æ–∑—Ä–∞—Å—Ç–µ –º–µ–¥–∏–∞–Ω–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º
median_age = data['Age'].median()
data['Age'] = data['Age'].fillna(median_age)
```
6. –ò–∑–º–µ–Ω–µ–Ω–∏–µ —Ñ–æ—Ä–º—ã –¥–∞–Ω–Ω—ã—Ö üîÑ  
–†–µ—Å—Ç—Ä—É–∫—Ç—É—Ä–∏–∑–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö:
- –î–æ–±–∞–≤–ª–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤: `data['New_Column'] = data['A'] + data['B']`
- –ü–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–Ω–∏–µ: `data.rename(columns={'Old_Name': 'New_Name'})`
- –°–ª–∏—è–Ω–∏–µ —Ç–∞–±–ª–∏—Ü: `pd.merge(data1, data2, on='key')`

–ü—Ä–∏–º–µ—Ä:
```python
# –°–æ–∑–¥–∞–¥–∏–º –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü
data['Full_Name'] = data['First_Name'] + ' ' + data['Last_Name']
```
7. –ê–Ω–∞–ª–∏–∑ –≤—Ä–µ–º–µ–Ω–Ω—ã—Ö —Ä—è–¥–æ–≤ üìÖ  
–†–∞–±–æ—Ç–∞ —Å –¥–∞—Ç–∞–º–∏ –∏ –≤—Ä–µ–º–µ–Ω–µ–º:
- –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –¥–∞—Ç: `data['Date'] = pd.to_datetime(data['Date'])`
- –í—Ä–µ–º–µ–Ω–Ω—ã–µ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏: `data.resample('M')['Sales'].sum()` ‚Äî –ø—Ä–æ–¥–∞–∂–∏ –ø–æ –º–µ—Å—è—Ü–∞–º

–ü—Ä–∏–º–µ—Ä:
```python
# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º —Å—Ç—Ä–æ–∫—É –≤ –¥–∞—Ç—É
data['Date'] = pd.to_datetime(data['Date'])

# –ü—Ä–æ–¥–∞–∂–∏ –ø–æ –º–µ—Å—è—Ü–∞–º
monthly_sales = data.resample('M', on='Date')['Sales'].sum()
```
8. –í–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö üìà  
Pandas –∏–Ω—Ç–µ–≥—Ä–∏—Ä–æ–≤–∞–Ω —Å –±–∏–±–ª–∏–æ—Ç–µ–∫–∞–º–∏ –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–∏:
- –ì—Ä–∞—Ñ–∏–∫–∏: `data.plot()`, `data.hist()`
- –ò–Ω—Ç–µ–≥—Ä–∞—Ü–∏—è —Å Matplotlib/Seaborn

–ü—Ä–∏–º–µ—Ä:
```python
import matplotlib.pyplot as plt
data['Sales'].plot(kind='bar')
plt.show()
```

## 6.6. –ö—Ä–∞—Ç–∫–æ –æ —Ç–∏–ø–∞—Ö –¥–∞–Ω–Ω—ã—Ö

**–û—Å–Ω–æ–≤–Ω—ã–µ —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö**
|–¢–∏–ø –¥–∞–Ω–Ω—ã—Ö|–û–ø–∏—Å–∞–Ω–∏–µ|–ü—Ä–∏–º–µ—Ä|
|-|-|-|
|boolean|–õ–æ–≥–∏—á–µ—Å–∫–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è|True, False|
|integer|–¶–µ–ª—ã–µ —á–∏—Å–ª–∞|10, -5, 0|
|float|–ß–∏—Å–ª–∞ —Å –ø–ª–∞–≤–∞—é—â–µ–π —Ç–æ—á–∫–æ–π (–¥—Ä–æ–±–Ω—ã–µ)|3.14, -0.5|
|object|–ß–∞—â–µ –≤—Å–µ–≥–æ —Å—Ç—Ä–æ–∫–∏, –Ω–æ –º–æ–∂–µ—Ç –±—ã—Ç—å –ª—é–±–æ–π –æ–±—ä–µ–∫—Ç Python|"–¢–µ–∫—Å—Ç", `[1, 2, 3]`|
|datetime|–î–∞—Ç–∞ –∏ –≤—Ä–µ–º—è|2023-01-15 14:30:00|

–ü—Ä–æ–≤–µ—Ä–∏—Ç—å —Ç–∏–ø—ã

In [4]:
import pandas as pd

# –°–æ–∑–¥–∞–µ–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º
df = pd.DataFrame({
    'Age': [25, 30],          # int
    'Salary': [50000.0, 60000.0],  # float
    'Name': ['Anna', 'Ivan']  # object (—Å—Ç—Ä–æ–∫–∞)
})

# –°–º–æ—Ç—Ä–∏–º —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö
print(df.dtypes)

Age         int64
Salary    float64
Name       object
dtype: object

–ò–∑–º–µ–Ω–∏—Ç—å —Ç–∏–ø

In [5]:
# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º —Å—Ç–æ–ª–±–µ—Ü –≤ –¥—Ä—É–≥–æ–π —Ç–∏–ø
df['Age'] = df['Age'].astype(float)  # –¢–µ–ø–µ—Ä—å float
df['Name'] = df['Name'].astype('string')  # –≠–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç–∞–ª—å–Ω—ã–π —Å—Ç—Ä–æ–∫–æ–≤—ã–π —Ç–∏–ø

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     2 non-null      float64
 1   Salary  2 non-null      float64
 2   Name    2 non-null      string
dtypes: float64(2), string(1)
memory usage: 180.0 bytes

## 6.7. –ü—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤

–ü—Ä–æ–ø—É—Å–∫–∏ (missing values) ‚Äî —ç—Ç–æ –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—â–∏–µ –¥–∞–Ω–Ω—ã–µ –≤ —Ç–∞–±–ª–∏—Ü–∞—Ö. Pandas –∏—Å–ø–æ–ª—å–∑—É–µ—Ç —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –¥–ª—è –∏—Ö –æ–±–æ–∑–Ω–∞—á–µ–Ω–∏—è.

**–û—Å–Ω–æ–≤–Ω—ã–µ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤**
|–¢–∏–ø –¥–∞–Ω–Ω—ã—Ö|–û–±–æ–∑–Ω–∞—á–µ–Ω–∏–µ –ø—Ä–æ–ø—É—Å–∫–∞|–ü—Ä–∏–º–µ—Ä|
|-|-|-|
|–ß–∏—Å–ª–∞ (float)|NaN (Not a Number)|3.14, NaN|
|–î–∞—Ç—ã (datetime)|NaT (Not a Time)|2023-01-01, NaT|
|–°—Ç—Ä–æ–∫–∏ (object)|NaN|"–¢–µ–∫—Å—Ç", NaN|
|–¶–µ–ª—ã–µ —á–∏—Å–ª–∞ (int)|‚ùå –ù–µ –ø–æ–¥–¥–µ—Ä–∂–∏–≤–∞–µ—Ç—Å—è|‚Äî|
|–õ–æ–≥–∏—á–µ—Å–∫–∏–µ (bool)|‚ùå –ù–µ –ø–æ–¥–¥–µ—Ä–∂–∏–≤–∞–µ—Ç—Å—è|‚Äî|

–ï—Å–ª–∏ –ø–æ–ø—ã—Ç–∞—Ç—å—Å—è –¥–æ–±–∞–≤–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫ –≤ —Å—Ç–æ–ª–±–µ—Ü —Å —Ü–µ–ª—ã–º–∏ —á–∏—Å–ª–∞–º–∏ (int) –∏–ª–∏ –ª–æ–≥–∏—á–µ—Å–∫–∏–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ (bool), pandas –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏ –ø—Ä–µ–æ–±—Ä–∞–∑—É–µ—Ç –≤–µ—Å—å —Å—Ç–æ–ª–±–µ—Ü –≤ —Ç–∏–ø float (—á—Ç–æ–±—ã –º–æ–∂–Ω–æ –±—ã–ª–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å NaN).

In [7]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'Age': [25, 30]})  # –¢–∏–ø: int64
df.loc[2] = np.nan  # –î–æ–±–∞–≤–ª—è–µ–º –ø—Ä–æ–ø—É—Å–∫
print(df.dtypes)  # –¢–µ–ø–µ—Ä—å —Ç–∏–ø: float64!

Age    float64
dtype: object

**–ù–æ–≤—ã–µ —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –≤ pandas 1.0+**
|–ù–æ–≤—ã–π —Ç–∏–ø|–û–ø–∏—Å–∞–Ω–∏–µ|–ü—Ä–∏–º–µ—Ä|
|-|-|-|
|Int64|–¶–µ–ª—ã–µ —á–∏—Å–ª–∞ —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏|25, NaN|
|boolean|–õ–æ–≥–∏—á–µ—Å–∫–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏|True, NaN|
|string|–°—Ç—Ä–æ–∫–∏ —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏|"–¢–µ–∫—Å—Ç", NaN|

–ü—Ä–æ–≤–µ—Ä–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏

In [8]:
# –°–æ–∑–¥–∞–µ–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏
df = pd.DataFrame({
    'Age': [25, np.nan, 30],
    'Name': ['Anna', np.nan, 'Ivan']
})

# –ü—Ä–æ–≤–µ—Ä—è–µ–º –ø—Ä–æ–ø—É—Å–∫–∏
print(df.isna())

     Age   Name
0  False  False
1   True   True
2  False  False

–û–±—Ä–∞–±–æ—Ç–∫–∞ –ø—Ä–æ–ø—É—Å–∫–æ–≤  
–£–¥–∞–ª–µ–Ω–∏–µ: `df.dropna()`  
–ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ: `df.fillna(0)` (–∑–∞–ø–æ–ª–Ω–∏—Ç—å –Ω—É–ª—è–º–∏) –∏–ª–∏ `df.fillna(df.mean())` (–∑–∞–ø–æ–ª–Ω–∏—Ç—å —Å—Ä–µ–¥–Ω–∏–º)

## 6.8. –ö–∞–∫—É—é –≤–µ—Ä—Å–∏—é pandas –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å?

In [9]:
# —Å–º–æ—Ç—Ä–∏–º –≤–µ—Ä—Å–∏—é
pd.__version__

'2.3.0'

## 6.9. –ü–æ–¥—Ä–æ–±–Ω–æ –∑–Ω–∞–∫–æ–º–∏–º—Å—è —Å —Ç–∏–ø–∞–º–∏ –¥–∞–Ω–Ω—ã—Ö

–º–µ—Ç–æ–¥ .astype() –¥–ª—è –∏–∑–º–µ–Ω–µ–Ω–∏—è —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö

### 6.9.1. –¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å —á–∏—Å–ª–∞–º–∏ –∏ –ª–æ–≥–∏—á–µ—Å–∫–∏–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏

#### 6.9.1.1. –¢–∏–ø –¥–∞–Ω–Ω—ã—Ö integer (—Ç–∏–ø –¥–ª—è —Ü–µ–ª—ã—Ö —á–∏—Å–µ–ª, —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–π —Ç–∏–ø), 'int64' –∏–ª–∏ 'int32'

–¶–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–µ —Ç–∏–ø—ã (int) –≤ pandas –∏ NumPy –ø–æ–∑–≤–æ–ª—è—é—Ç —Ö—Ä–∞–Ω–∏—Ç—å —Ü–µ–ª—ã–µ —á–∏—Å–ª–∞ —Å —Ä–∞–∑–Ω—ã–º –¥–∏–∞–ø–∞–∑–æ–Ω–æ–º –∑–Ω–∞—á–µ–Ω–∏–π –∏ —Ä–∞–∑–Ω—ã–º –ø–æ—Ç—Ä–µ–±–ª–µ–Ω–∏–µ–º –ø–∞–º—è—Ç–∏.
|–¢–∏–ø|–†–∞–∑–º–µ—Ä (–±–∏—Ç—ã)|–î–∏–∞–ø–∞–∑–æ–Ω –∑–Ω–∞—á–µ–Ω–∏–π|–ü–∞–º—è—Ç—å|
|-|-|-|-|
|`int8`|8|–æ—Ç -128 –¥–æ 127|‚ö°Ô∏è –û—á–µ–Ω—å –º–∞–ª–æ|
|`int16`|16|–æ—Ç -32768 –¥–æ 32767|üíæ –ú–∞–ª–æ|
|`int32`|32|–æ—Ç -2.1e9 –¥–æ 2.1e9|‚úÖ –°—Ç–∞–Ω–¥–∞—Ä—Ç|
|`int64`|64|–æ—Ç -9.2e18 –¥–æ 9.2e18|üêå –ú–Ω–æ–≥–æ|

T–∏–ø –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é, pandas –≤—ã–±–∏—Ä–∞–µ—Ç  
- Linux/macOS (64-bit): int64
- Windows (64-bit): int32
- 32-–±–∏—Ç–Ω—ã–µ —Å–∏—Å—Ç–µ–º—ã: int32

In [10]:
import pandas as pd

# –°–æ–∑–¥–∞–µ–º —Å–µ—Ä–∏—é –∏–∑ —Ü–µ–ª—ã—Ö —á–∏—Å–µ–ª
s = pd.Series([10, 35, 130])
print(s.dtypes)

int64

In [11]:
# –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –¥–∏–∞–ø–∞–∑–æ–Ω —Ç–∏–ø–∞

import numpy as np

# –î–∏–∞–ø–∞–∑–æ–Ω –¥–ª—è int8
print(np.iinfo('int8'))
# –í—ã–≤–æ–¥: min=-128, max=127

# –î–∏–∞–ø–∞–∑–æ–Ω –¥–ª—è int64
print(np.iinfo('int64'))
# –í—ã–≤–æ–¥: min=-9223372036854775808, max=9223372036854775807

Machine parameters for int8
---------------------------------------------------------------
min = -128
max = 127
---------------------------------------------------------------

Machine parameters for int64
---------------------------------------------------------------
min = -9223372036854775808
max = 9223372036854775807
---------------------------------------------------------------

–ó–∞—á–µ–º –Ω—É–∂–Ω–æ —è–≤–Ω–æ —É–∫–∞–∑—ã–≤–∞—Ç—å —Ç–∏–ø—ã?
- –≠–∫–æ–Ω–æ–º–∏—è –ø–∞–º—è—Ç–∏: –ï—Å–ª–∏ —á–∏—Å–ª–∞ –º–∞–ª–µ–Ω—å–∫–∏–µ, –∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ int8 –∏–ª–∏ int16.
- –°–æ–≤–º–µ—Å—Ç–∏–º–æ—Å—Ç—å: –ù–µ–∫–æ—Ç–æ—Ä—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ —Ç—Ä–µ–±—É—é—Ç –∫–æ–Ω–∫—Ä–µ—Ç–Ω—ã—Ö —Ç–∏–ø–æ–≤.
- –ë–µ–∑–æ–ø–∞—Å–Ω–æ—Å—Ç—å: –ò–∑–±–µ–≥–∞–π—Ç–µ –ø–µ—Ä–µ–ø–æ–ª–Ω–µ–Ω–∏–π.

#### 6.9.1.2. –¢–∏–ø –¥–∞–Ω–Ω—ã—Ö unsigned integer (—Ç–∏–ø –¥–ª—è —Ü–µ–ª—ã—Ö —á–∏—Å–µ–ª –±–µ–∑ –∑–Ω–∞–∫–∞), 'uint64' –∏–ª–∏ 'uint32'

–¶–µ–ª—ã–µ —á–∏—Å–ª–∞ –±–µ–∑ –∑–Ω–∞–∫–∞ (unsigned integer) ‚Äî —ç—Ç–æ —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã–µ —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö, –∫–æ—Ç–æ—Ä—ã–µ –º–æ–≥—É—Ç —Ö—Ä–∞–Ω–∏—Ç—å —Ç–æ–ª—å–∫–æ –Ω–µ–æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ —Ü–µ–ª—ã–µ —á–∏—Å–ª–∞ (—Ç.–µ. –æ—Ç 0 –∏ –≤—ã—à–µ). –û–Ω–∏ –ø–æ–ª–µ–∑–Ω—ã –¥–ª—è —ç–∫–æ–Ω–æ–º–∏–∏ –ø–∞–º—è—Ç–∏, –∫–æ–≥–¥–∞ –≤–∞–º —Ç–æ—á–Ω–æ –Ω–µ –Ω—É–∂–Ω—ã –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è.
|–¢–∏–ø|–†–∞–∑–º–µ—Ä (–±–∏—Ç—ã)|–î–∏–∞–ø–∞–∑–æ–Ω –∑–Ω–∞—á–µ–Ω–∏–π|–ü–∞–º—è—Ç—å|
|-|-|-|-|
|`uint8`|8|–æ—Ç 0 –¥–æ 255|‚ö°Ô∏è –û—á–µ–Ω—å –º–∞–ª–æ|
|`uint16`|16|–æ—Ç 0 –¥–æ 65535|üíæ –ú–∞–ª–æ|
|`uint32`|32|–æ—Ç 0 –¥–æ 4.3e9|‚úÖ –°—Ç–∞–Ω–¥–∞—Ä—Ç|
|`uint64`|64|–æ—Ç 0 –¥–æ 1.8e19|üêå –ú–Ω–æ–≥–æ|

In [12]:
import pandas as pd
import numpy as np

# –°–æ–∑–¥–∞–µ–º —Å–µ—Ä–∏—é —Å —Ü–µ–ª—ã–º–∏ —á–∏—Å–ª–∞–º–∏
s_int = pd.Series([10, 35, 130])

# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –≤ uint8
s_uint8 = s_int.astype('uint8')
print(s_uint8)

0     10
1     35
2    130
dtype: uint8

In [13]:
# –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –¥–∏–∞–ø–∞–∑–æ–Ω —Ç–∏–ø–∞

# –î–∏–∞–ø–∞–∑–æ–Ω –¥–ª—è uint8
print(np.iinfo('uint8'))
# –í—ã–≤–æ–¥: min=0, max=255

# –î–∏–∞–ø–∞–∑–æ–Ω –¥–ª—è uint64
print(np.iinfo('uint64'))
# –í—ã–≤–æ–¥: min=0, max=18446744073709551615

Machine parameters for uint8
---------------------------------------------------------------
min = 0
max = 255
---------------------------------------------------------------

Machine parameters for uint64
---------------------------------------------------------------
min = 0
max = 18446744073709551615
---------------------------------------------------------------

–ó–∞—á–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å uint?
- –≠–∫–æ–Ω–æ–º–∏—è –ø–∞–º—è—Ç–∏: uint8 –∑–∞–Ω–∏–º–∞–µ—Ç –≤ 8 —Ä–∞–∑ –º–µ–Ω—å—à–µ –ø–∞–º—è—Ç–∏, —á–µ–º int64.
- –£–¥–æ–±—Å—Ç–≤–æ –¥–ª—è –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö: –ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ–∑—Ä–∞—Å—Ç, –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ items, –ø–∏–∫—Å–µ–ª–∏ –∏–∑–æ–±—Ä–∞–∂–µ–Ω–∏–π (–≤—Å–µ–≥–¥–∞ ‚â• 0).

#### 6.9.1.3. –¢–∏–ø –¥–∞–Ω–Ω—ã—Ö nullable integer (—Ç–∏–ø –¥–ª—è —Ü–µ–ª—ã—Ö —á–∏—Å–µ–ª, –¥–æ–ø—É—Å–∫–∞—é—â–∏–π –∑–Ω–∞—á–µ–Ω–∏—è NULL), 'Int64'

Nullable integer ‚Äî —ç—Ç–æ —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –≤ pandas, –∫–æ—Ç–æ—Ä—ã–π –ø–æ–∑–≤–æ–ª—è–µ—Ç —Ö—Ä–∞–Ω–∏—Ç—å —Ü–µ–ª—ã–µ —á–∏—Å–ª–∞ –≤–º–µ—Å—Ç–µ —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏ (NULL –∑–Ω–∞—á–µ–Ω–∏—è–º–∏). –û–Ω –±—ã–ª –≤–≤–µ–¥–µ–Ω, —á—Ç–æ–±—ã —Ä–µ—à–∏—Ç—å –ø—Ä–æ–±–ª–µ–º—É, –∫–æ–≥–¥–∞ –æ–±—ã—á–Ω—ã–µ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–µ —Ç–∏–ø—ã (int64, int32 –∏ –¥—Ä.) –Ω–µ –ø–æ–¥–¥–µ—Ä–∂–∏–≤–∞—é—Ç –ø—Ä–æ–ø—É—Å–∫–∏.

–û–±—ã—á–Ω—ã–µ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–µ —Ç–∏–ø—ã –≤ pandas/NumPy –Ω–µ –ø–æ–¥–¥–µ—Ä–∂–∏–≤–∞—é—Ç –ø—Ä–æ–ø—É—Å–∫–∏. –ï—Å–ª–∏ –ø–æ–ø—ã—Ç–∞—Ç—å—Å—è –¥–æ–±–∞–≤–∏—Ç—å NaN –≤ —Ç–∞–∫–æ–π —Å—Ç–æ–ª–±–µ—Ü, pandas –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏ –ø—Ä–µ–æ–±—Ä–∞–∑—É–µ—Ç –µ–≥–æ –≤–æ float:

In [14]:
# –°–æ–∑–¥–∞–µ–º —Å–µ—Ä–∏—é —Å —Ç–∏–ø–æ–º Int64
s_nullable = pd.Series([10, 35, 130, np.nan], dtype='Int64')
print(s_nullable)

0      10
1      35
2     130
3    <NA>
dtype: Int64

–û—Å–æ–±–µ–Ω–Ω–æ—Å—Ç–∏ Int64
- –û–±–æ–∑–Ω–∞—á–µ–Ω–∏–µ –ø—Ä–æ–ø—É—Å–∫–∞: `<NA>` (–≤–º–µ—Å—Ç–æ `NaN`)
- –°–∏–Ω—Ç–∞–∫—Å–∏—Å: `'Int8'`, `'Int16'`, `'Int32'`, `'Int64'` (—Å –∑–∞–≥–ª–∞–≤–Ω–æ–π –±—É–∫–≤—ã!)
- –ë–µ–∑–æ–ø–∞—Å–Ω–æ—Å—Ç—å: –ü—Ä–æ–≤–µ—Ä—è–µ—Ç –¥–∏–∞–ø–∞–∑–æ–Ω –∑–Ω–∞—á–µ–Ω–∏–π –∏ –≤—ã–¥–∞–µ—Ç –æ—à–∏–±–∫—É –ø—Ä–∏ –ø–µ—Ä–µ–ø–æ–ª–Ω–µ–Ω–∏–∏
- –¢–æ–ª—å–∫–æ –≤ pandas: –í NumPy —Ç–∞–∫–æ–≥–æ —Ç–∏–ø–∞ –Ω–µ—Ç

In [15]:
# –ü—Ä–∏–º–µ—Ä —Å –æ—à–∏–±–∫–æ–π –ø–µ—Ä–µ–ø–æ–ª–Ω–µ–Ω–∏—è

# –ü–æ–ø—ã—Ç–∫–∞ —Å–æ—Ö—Ä–∞–Ω–∏—Ç—å 130 –≤ Int8 (–¥–∏–∞–ø–∞–∑–æ–Ω: -128 –¥–æ 127)
try:
    s_error = pd.Series([10, 35, 130], dtype='Int8')
except Exception as e:
    print(f"–û—à–∏–±–∫–∞: {e}")

–û—à–∏–±–∫–∞: cannot safely cast non-equivalent int64 to int8

#### 6.9.1.4. –¢–∏–ø –¥–∞–Ω–Ω—ã—Ö nullable unsigned integer (—Ç–∏–ø –¥–ª—è —Ü–µ–ª—ã—Ö —á–∏—Å–µ–ª –±–µ–∑ –∑–Ω–∞–∫–∞, –¥–æ–ø—É—Å–∫–∞—é—â–∏–π –∑–Ω–∞—á–µ–Ω–∏—è NULL), 'UInt64'

In [16]:
# –°–æ–∑–¥–∞–µ–º —Å–µ—Ä–∏—é —Å —Ç–∏–ø–æ–º UInt64
pd.Series([10, 35, 130, pd.NA], dtype='UInt8')

0      10
1      35
2     130
3    <NA>
dtype: UInt8

#### 6.9.1.5. –¢–∏–ø –¥–∞–Ω–Ω—ã—Ö float (—Ç–∏–ø –¥–ª—è —á–∏—Å–µ–ª —Å –ø–ª–∞–≤–∞—é—â–µ–π —Ç–æ—á–∫–æ–π), 'float64' –∏–ª–∏ 'float32'

–¢–∏–ø—ã float –∏—Å–ø–æ–ª—å–∑—É—é—Ç—Å—è –¥–ª—è —Ö—Ä–∞–Ω–µ–Ω–∏—è –¥—Ä–æ–±–Ω—ã—Ö —á–∏—Å–µ–ª (—á–∏—Å–µ–ª —Å –ø–ª–∞–≤–∞—é—â–µ–π —Ç–æ—á–∫–æ–π). –û–Ω–∏ –ø–æ–¥–¥–µ—Ä–∂–∏–≤–∞—é—Ç –ø—Ä–æ–ø—É—Å–∫–∏ –∑–Ω–∞—á–µ–Ω–∏–π –∏ –∏–º–µ—é—Ç —Ä–∞–∑–Ω—É—é —Ç–æ—á–Ω–æ—Å—Ç—å –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —Ä–∞–∑–º–µ—Ä–∞.
|–¢–∏–ø|–†–∞–∑–º–µ—Ä (–±–∏—Ç—ã)|–¢–æ—á–Ω–æ—Å—Ç—å|–î–∏–∞–ø–∞–∑–æ–Ω|–ü–∞–º—è—Ç—å|
|-|-|-|-|-|
|`float16`|16|~3 –∑–Ω–∞–∫–∞|¬±6.55√ó10‚Å¥|‚ö°Ô∏è –ú–∞–ª–æ|
|`float32`|32|~6 –∑–Ω–∞–∫–æ–≤|¬±3.40√ó10¬≥‚Å∏|üíæ –°—Ä–µ–¥–Ω–µ|
|`float64`|	64|~15 –∑–Ω–∞–∫–æ–≤|¬±1.80√ó10¬≥‚Å∞‚Å∏|‚úÖ –°—Ç–∞–Ω–¥–∞—Ä—Ç|

In [17]:
# –°–æ–∑–¥–∞–µ–º —Å–µ—Ä–∏—é —Å –¥—Ä–æ–±–Ω—ã–º–∏ —á–∏—Å–ª–∞–º–∏ –∏ –ø—Ä–æ–ø—É—Å–∫–æ–º
s_float = pd.Series([5.26, 1234.56789, np.nan])
print(s_float)

0       5.26000
1    1234.56789
2           NaN
dtype: float64

In [18]:
# –ü—Ä–æ–≤–µ—Ä–∫–∞ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫ —Ç–∏–ø–æ–≤
# –î–ª—è float32
print(np.finfo('float32'))

# –î–ª—è float16
print(np.finfo('float16'))

Machine parameters for float32
---------------------------------------------------------------
precision =   6   resolution = 1.0000000e-06
machep =    -23   eps =        1.1920929e-07
negep =     -24   epsneg =     5.9604645e-08
minexp =   -126   tiny =       1.1754944e-38
maxexp =    128   max =        3.4028235e+38
nexp =        8   min =        -max
smallest_normal = 1.1754944e-38   smallest_subnormal = 1.4012985e-45
---------------------------------------------------------------

Machine parameters for float16
---------------------------------------------------------------
precision =   3   resolution = 1.00040e-03
machep =    -10   eps =        9.76562e-04
negep =     -11   epsneg =     4.88281e-04
minexp =    -14   tiny =       6.10352e-05
maxexp =     16   max =        6.55040e+04
nexp =        5   min =        -max
smallest_normal = 6.10352e-05   smallest_subnormal = 5.96046e-08
---------------------------------------------------------------

#### 6.9.1.6. –¢–∏–ø –¥–∞–Ω–Ω—ã—Ö nullable float (—Ç–∏–ø –¥–ª—è —á–∏—Å–µ–ª —Å –ø–ª–∞–≤–∞—é—â–µ–π —Ç–æ—á–∫–æ–π, –¥–æ–ø—É—Å–∫–∞—é—â–∏–π –∑–Ω–∞—á–µ–Ω–∏—è NULL), 'Float64'

In [19]:
# –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤—ã–≤–∞–µ–º –∏–∑ —Ç–∏–ø–∞ float
# –≤ —Ç–∏–ø nullable float (Float64)
nullable_float = s_float.astype('Float64')
nullable_float

0          5.26
1    1234.56789
2          <NA>
dtype: Float64

#### 6.9.1.7. –¢–∏–ø –¥–∞–Ω–Ω—ã—Ö boolean (–ª–æ–≥–∏—á–µ—Å–∫–∏–π —Ç–∏–ø, –±—É–ª–µ–≤ —Ç–∏–ø), 'bool'

–õ–æ–≥–∏—á–µ—Å–∫–∏–π —Ç–∏–ø (bool) –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è —Ö—Ä–∞–Ω–µ–Ω–∏—è –∑–Ω–∞—á–µ–Ω–∏–π True (–∏—Å—Ç–∏–Ω–∞) –∏ False (–ª–æ–∂—å). –≠—Ç–æ —Å–∞–º—ã–π –ø—Ä–æ—Å—Ç–æ–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö, –Ω–æ —Å –≤–∞–∂–Ω—ã–º–∏ –æ—Å–æ–±–µ–Ω–Ω–æ—Å—Ç—è–º–∏ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è.

In [20]:
# –°–æ–∑–¥–∞–µ–º —Å–µ—Ä–∏—é —Å –ª–æ–≥–∏—á–µ—Å–∫–∏–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏
s_bool = pd.Series([True, False, True])
print(s_bool)

0     True
1    False
2     True
dtype: bool

In [21]:
# –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –¥—Ä—É–≥–∏—Ö —Ç–∏–ø–æ–≤ –≤ bool
s_int = pd.Series([0, 1, 59, -35])
s_bool_from_int = s_int.astype('bool')
print(s_bool_from_int)

s_float = pd.Series([0.0, 0.0001, -3.99])
s_bool_from_float = s_float.astype('bool')
print(s_bool_from_float)

0    False
1     True
2     True
3     True
dtype: bool
0    False
1     True
2     True
dtype: bool

In [22]:
# –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ bool –≤ –¥—Ä—É–≥–∏–µ —Ç–∏–ø—ã
s_bool = pd.Series([True, False])
s_int_from_bool = s_bool.astype('int64')
print(s_int_from_bool)

s_float_from_bool = s_bool.astype('float64')
print(s_float_from_bool)

0    1
1    0
dtype: int64
0    1.0
1    0.0
dtype: float64

–ü—Ä–∞–∫—Ç–∏—á–µ—Å–∫–æ–µ –ø—Ä–∏–º–µ–Ω–µ–Ω–∏–µ
- –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö: `df[df['Age'] > 30]`
- –°–æ–∑–¥–∞–Ω–∏–µ –º–∞—Å–æ–∫: `df['Is_Adult'] = df['Age'] >= 18`
- –ê–≥—Ä–µ–≥–∞—Ü–∏—è: `df['Flags'].sum()` ‚Äî –ø–æ–¥—Å—á–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ True

#### 6.9.1.8. –¢–∏–ø –¥–∞–Ω–Ω—ã—Ö nullable boolean (–ª–æ–≥–∏—á–µ—Å–∫–∏–π —Ç–∏–ø, –¥–æ–ø—É—Å–∫–∞—é—â–∏–π –∑–Ω–∞—á–µ–Ω–∏—è NULL), 'Boolean'

Nullable boolean ‚Äî —ç—Ç–æ —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã–π –ª–æ–≥–∏—á–µ—Å–∫–∏–π —Ç–∏–ø –≤ pandas, –∫–æ—Ç–æ—Ä—ã–π –ø–æ–¥–¥–µ—Ä–∂–∏–≤–∞–µ—Ç –ø—Ä–æ–ø—É—Å–∫–∏ –∑–Ω–∞—á–µ–Ω–∏–π. –û–Ω –±—ã–ª –¥–æ–±–∞–≤–ª–µ–Ω –≤ –≤–µ—Ä—Å–∏–∏ 1.0 –¥–ª—è —Ä–µ—à–µ–Ω–∏—è –ø—Ä–æ–±–ª–µ–º –æ–±—ã—á–Ω–æ–≥–æ —Ç–∏–ø–∞ bool.

```python
s = pd.Series([True, False, True])
s.loc[0] = np.nan  # –ú–µ–Ω—è–µ–º –ø–µ—Ä–≤—ã–π —ç–ª–µ–º–µ–Ω—Ç –Ω–∞ NaN
print(s)
```
```text
0    NaN    # –¢–µ–ø–µ—Ä—å —Ç–∏–ø object!
1    False
2     True
dtype: object
```

In [23]:
# –¢–∏–ø 'boolean' (—Å –º–∞–ª–µ–Ω—å–∫–æ–π –±—É–∫–≤—ã!) –ø—Ä–∞–≤–∏–ª—å–Ω–æ –æ–±—Ä–∞–±–∞—Ç—ã–≤–∞–µ—Ç –ø—Ä–æ–ø—É—Å–∫–∏:

# –°–æ–∑–¥–∞–µ–º —Å–µ—Ä–∏—é —Å nullable boolean
s_nullable_bool = pd.Series([True, False, np.nan], dtype='boolean')
print(s_nullable_bool)

0     True
1    False
2     <NA>
dtype: boolean

–°—Ä–∞–≤–Ω–µ–Ω–∏–µ —Å –æ–±—ã—á–Ω—ã–º bool
|–•–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∞|–û–±—ã—á–Ω—ã–π `bool`|Nullable `boolean`|
|-|-|-|
|–ü—Ä–æ–ø—É—Å–∫–∏|‚ùå –ù–µ –ø–æ–¥–¥–µ—Ä–∂–∏–≤–∞–µ—Ç|‚úÖ –ü–æ–¥–¥–µ—Ä–∂–∏–≤–∞–µ—Ç (<NA>)|
|–ü–æ–≤–µ–¥–µ–Ω–∏–µ —Å NaN|–ü—Ä–µ–≤—Ä–∞—â–∞–µ—Ç –≤ `True`|–°–æ—Ö—Ä–∞–Ω—è–µ—Ç –∫–∞–∫ –ø—Ä–æ–ø—É—Å–∫|
|–ü–∞–º—è—Ç—å|1 –±–∞–π—Ç/–∑–Ω–∞—á–µ–Ω–∏–µ|1 –±–∞–π—Ç/–∑–Ω–∞—á–µ–Ω–∏–µ|
|–°—Ç–∞–±–∏–ª—å–Ω–æ—Å—Ç—å|–°—Ç–∞–±–∏–ª—å–Ω—ã–π|–≠–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç–∞–ª—å–Ω—ã–π|

In [24]:
# –°–æ–∑–¥–∞–µ–º —Å–µ—Ä–∏—é —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏
survey_data = pd.Series([True, False, None, True], dtype='boolean')
print(survey_data)

# –õ–æ–≥–∏—á–µ—Å–∫–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏
print(survey_data & True)  # AND —Å True

0     True
1    False
2     <NA>
3     True
dtype: boolean
0     True
1    False
2     <NA>
3     True
dtype: boolean

### 6.9.2. –¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å–æ —Å—Ç—Ä–æ–∫–∞–º–∏

#### 6.9.2.1. –¢–∏–ø –¥–∞–Ω–Ω—ã—Ö object (–æ–±—ä–µ–∫—Ç–Ω—ã–π —Ç–∏–ø), 'object'

–¢–∏–ø object ‚Äî —ç—Ç–æ —É–Ω–∏–≤–µ—Ä—Å–∞–ª—å–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –≤ pandas, –∫–æ—Ç–æ—Ä—ã–π –º–æ–∂–µ—Ç —Ö—Ä–∞–Ω–∏—Ç—å –ª—é–±—ã–µ –æ–±—ä–µ–∫—Ç—ã Python. –î–æ –≤–µ—Ä—Å–∏–∏ pandas 1.0 –æ–Ω –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–ª—Å—è –≤ –æ—Å–Ω–æ–≤–Ω–æ–º –¥–ª—è —Ö—Ä–∞–Ω–µ–Ω–∏—è —Å—Ç—Ä–æ–∫, –Ω–æ –º–æ–∂–µ—Ç —Å–æ–¥–µ—Ä–∂–∞—Ç—å —á—Ç–æ —É–≥–æ–¥–Ω–æ.

–û—Å–Ω–æ–≤–Ω—ã–µ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏ —Ç–∏–ø–∞ object
- –£–Ω–∏–≤–µ—Ä—Å–∞–ª—å–Ω–æ—Å—Ç—å: –ú–æ–∂–µ—Ç —Ö—Ä–∞–Ω–∏—Ç—å –ª—é–±—ã–µ –æ–±—ä–µ–∫—Ç—ã Python
- –†–∞–∑–º–µ—Ä: –ù–µ –∏–º–µ–µ—Ç —Ñ–∏–∫—Å–∏—Ä–æ–≤–∞–Ω–Ω–æ–≥–æ —Ä–∞–∑–º–µ—Ä–∞ (–≤ –æ—Ç–ª–∏—á–∏–µ –æ—Ç int64, float64)
- –ù–∞—Å–ª–µ–¥–∏–µ: –£–Ω–∞—Å–ª–µ–¥–æ–≤–∞–Ω –∏–∑ NumPy (–æ–±–æ–∑–Ω–∞—á–∞–µ—Ç—Å—è –∫–∞–∫ dtype('O'))
- –ì–∏–±–∫–æ—Å—Ç—å: –†–∞–∑–Ω—ã–µ —ç–ª–µ–º–µ–Ω—Ç—ã –≤ –æ–¥–Ω–æ–π —Å–µ—Ä–∏–∏ –º–æ–≥—É—Ç –±—ã—Ç—å —Ä–∞–∑–Ω—ã—Ö —Ç–∏–ø–æ–≤

In [25]:
import pandas as pd

# –°–µ—Ä–∏—è —Å–æ —Å—Ç—Ä–æ–∫–æ–≤—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏
s_object = pd.Series(['some', 'strings'])
print(s_object)
print(f"–¢–∏–ø –¥–∞–Ω–Ω—ã—Ö: {s_object.dtype}")

0       some
1    strings
dtype: object
–¢–∏–ø –¥–∞–Ω–Ω—ã—Ö: object

In [26]:
# –ü—Ä–æ–≤–µ—Ä–∫–∞ —Ç–∏–ø–∞ —á–µ—Ä–µ–∑ NumPy
import numpy as np
print(s_object.dtype == np.dtype('O'))

True

–¢–∏–ø object –º–æ–∂–µ—Ç —Å–æ–¥–µ—Ä–∂–∞—Ç—å –ª—é–±—ã–µ –æ–±—ä–µ–∫—Ç—ã Python –≤ –æ–¥–Ω–æ–π —Å–µ—Ä–∏–∏

In [27]:
# –°–µ—Ä–∏—è —Å —Ä–∞–∑–Ω—ã–º–∏ —Ç–∏–ø–∞–º–∏ –¥–∞–Ω–Ω—ã—Ö
garbage_series = pd.Series([
    [1, 2],           # —Å–ø–∏—Å–æ–∫
    True,             # –±—É–ª–µ–≤–æ –∑–Ω–∞—á–µ–Ω–∏–µ
    'some string',    # —Å—Ç—Ä–æ–∫–∞
    4.5,              # —á–∏—Å–ª–æ
    {'key': 'value'}  # —Å–ª–æ–≤–∞—Ä—å
])

print(garbage_series)
print("\n–¢–∏–ø—ã —ç–ª–µ–º–µ–Ω—Ç–æ–≤:")
for i in range(len(garbage_series)):
    print(f"–≠–ª–µ–º–µ–Ω—Ç {i}: {type(garbage_series.loc[i])}")

0              [1, 2]
1                True
2         some string
3                 4.5
4    {'key': 'value'}
dtype: object

–¢–∏–ø—ã —ç–ª–µ–º–µ–Ω—Ç–æ–≤:
–≠–ª–µ–º–µ–Ω—Ç 0: <class 'list'>
–≠–ª–µ–º–µ–Ω—Ç 1: <class 'bool'>
–≠–ª–µ–º–µ–Ω—Ç 2: <class 'str'>
–≠–ª–µ–º–µ–Ω—Ç 3: <class 'float'>
–≠–ª–µ–º–µ–Ω—Ç 4: <class 'dict'>

–õ—é–±—É—é —Å–µ—Ä–∏—é –º–æ–∂–Ω–æ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞—Ç—å –≤ —Ç–∏–ø object

In [28]:
# –ò—Å—Ö–æ–¥–Ω–∞—è —Å–µ—Ä–∏—è —Å —Ü–µ–ª—ã–º–∏ —á–∏—Å–ª–∞–º–∏
s_int = pd.Series([5, 10])
print(f"–ò—Å—Ö–æ–¥–Ω—ã–π —Ç–∏–ø: {s_int.dtype}")  # int64

# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –≤ object
s_obj = s_int.astype('object')
print(f"–ù–æ–≤—ã–π —Ç–∏–ø: {s_obj.dtype}")  # object

# –ù–æ –∑–Ω–∞—á–µ–Ω–∏—è –æ—Å—Ç–∞—é—Ç—Å—è —Ü–µ–ª—ã–º–∏ —á–∏—Å–ª–∞–º–∏!
print(f"–¢–∏–ø –ø–µ—Ä–≤–æ–≥–æ —ç–ª–µ–º–µ–Ω—Ç–∞: {type(s_obj.loc[0])}")  # numpy.int64

–ò—Å—Ö–æ–¥–Ω—ã–π —Ç–∏–ø: int64
–ù–æ–≤—ã–π —Ç–∏–ø: object
–¢–∏–ø –ø–µ—Ä–≤–æ–≥–æ —ç–ª–µ–º–µ–Ω—Ç–∞: <class 'int'>

 –ö–æ–≥–¥–∞ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Ç–∏–ø object?  
‚úÖ –î–ª—è —Å—Ç—Ä–æ–∫ (–¥–æ pandas 1.0)  
‚úÖ –í—Ä–µ–º–µ–Ω–Ω–æ–µ —Ö—Ä–∞–Ω–µ–Ω–∏–µ —Ä–∞–∑–Ω–æ—Ä–æ–¥–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö  
‚ùå –ù–µ –¥–ª—è —á–∏—Å–ª–æ–≤—ã—Ö –≤—ã—á–∏—Å–ª–µ–Ω–∏–π  
‚ùå –ù–µ –¥–ª—è –±–æ–ª—å—à–∏—Ö datasets (–∏–∑-–∑–∞ –ø—Ä–æ–∏–∑–≤–æ–¥–∏—Ç–µ–ª—å–Ω–æ—Å—Ç–∏)

#### 6.9.2.2. –¢–∏–ø –¥–∞–Ω–Ω—ã—Ö Categorical (–∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π —Ç–∏–ø), 'category'

–ö–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π —Ç–∏–ø ‚Äî —ç—Ç–æ —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –≤ pandas –¥–ª—è —Ö—Ä–∞–Ω–µ–Ω–∏—è –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–Ω–æ–≥–æ –Ω–∞–±–æ—Ä–∞ –∑–Ω–∞—á–µ–Ω–∏–π (–∫–∞—Ç–µ–≥–æ—Ä–∏–π). –û–Ω –æ—Å–æ–±–µ–Ω–Ω–æ –ø–æ–ª–µ–∑–µ–Ω –∫–æ–≥–¥–∞ –¥–∞–Ω–Ω—ã–µ –∏–º–µ—é—Ç –ø–æ–≤—Ç–æ—Ä—è—é—â–∏–µ—Å—è –∑–Ω–∞—á–µ–Ω–∏—è.

–ò–¥–µ–∞–ª—å–Ω–æ –ø–æ–¥—Ö–æ–¥–∏—Ç –¥–ª—è –¥–∞–Ω–Ω—ã—Ö –∫–æ—Ç–æ—Ä—ã–µ:  
‚úÖ –ò–º–µ—é—Ç –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–Ω–æ–µ —á–∏—Å–ª–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π (–Ω–∞–ø—Ä–∏–º–µ—Ä, –ø–æ–ª: "–ú", "–ñ")  
‚úÖ –ß–∞—Å—Ç–æ –ø–æ–≤—Ç–æ—Ä—è—é—Ç—Å—è (–Ω–∞–ø—Ä–∏–º–µ—Ä, –¥–æ–ª–∂–Ω–æ—Å—Ç–∏ –≤ –∫–æ–º–ø–∞–Ω–∏–∏)  
‚úÖ –î–∏—Å–∫—Ä–µ—Ç–Ω—ã –∏ –∏–∑–≤–µ—Å—Ç–Ω—ã –∑–∞—Ä–∞–Ω–µ–µ  
‚úÖ –ù—É–∂–Ω–æ —ç–∫–æ–Ω–æ–º–∏—Ç—å –ø–∞–º—è—Ç—å –∏ —É—Å–∫–æ—Ä–∏—Ç—å –æ–ø–µ—Ä–∞—Ü–∏–∏

In [29]:
import pandas as pd

# –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö
credit = pd.read_csv('Data/credit_train.csv', encoding='cp1251', decimal=',', sep=';')

credit.info()
print()

# –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –≤ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π —Ç–∏–ø
job_position = credit['job_position']
job_position_cat = job_position.astype('category')

print(job_position_cat.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170746 entries, 0 to 170745
Data columns (total 15 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   client_id             170746 non-null  int64
 1   gender                170746 non-null  object
 2   age                   170743 non-null  float64
 3   marital_status        170743 non-null  object
 4   job_position          170746 non-null  object
 5   credit_sum            170744 non-null  float64
 6   credit_month          170746 non-null  int64
 7   tariff_id             170746 non-null  object
 8   score_shk             170739 non-null  float64
 9   education             170741 non-null  object
 10  living_region         170554 non-null  object
 11  monthly_income        170741 non-null  float64
 12  credit_count          161516 non-null  float64
 13  overdue_credit_count  161516 non-null  float64
 14  open_account_flg      170746 non-null  int64
dtypes: float64(6), int64(3), object(6)
memory usage: 19.5+ MB

0    UMN
1    UMN
2    SPC
3    SPC
4    SPC
Name: job_position, dtype: category
Categories (18, object): ['ATP', 'BIS', 'BIU', 'DIR', ..., 'UMN', 'WOI', 'WRK', 'WRP']

Pandas —Ö—Ä–∞–Ω–∏—Ç –¥–∞–Ω–Ω—ã–µ –≤ –¥–≤—É—Ö —á–∞—Å—Ç—è—Ö:
- –°–ø–∏—Å–æ–∫ –∫–∞—Ç–µ–≥–æ—Ä–∏–π (—É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è)
- –¶–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–µ –∫–æ–¥—ã (—Å—Å—ã–ª–∫–∏ –Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏)

In [30]:
# –ê–Ω–∞–ª–æ–≥–∏—è —Å Python —Å–ø–∏—Å–∫–∞–º–∏
cats = ['Python', 'Java', 'Scala']  # –°–ø–∏—Å–æ–∫ –∫–∞—Ç–µ–≥–æ—Ä–∏–π
vals = [1, 1, 0, 2, 0, 1]          # –¶–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–µ –∫–æ–¥—ã

# –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –æ–±—Ä–∞—Ç–Ω–æ –≤ –∑–Ω–∞—á–µ–Ω–∏—è
[cats[val] for val in vals]  # ['Java', 'Java', 'Python', 'Scala', 'Python', 'Java']

['Java', 'Java', 'Python', 'Scala', 'Python', 'Java']

–ü—Ä–µ–∏–º—É—â–µ—Å—Ç–≤–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω–æ–≥–æ —Ç–∏–ø–∞. –≠–∫–æ–Ω–æ–º–∏—è –ø–∞–º—è—Ç–∏ –∏ –£—Å–∫–æ—Ä–µ–Ω–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–π

In [31]:
# –ü–∞–º—è—Ç—å –¥–ª—è –æ–±—ã—á–Ω–æ–≥–æ —Ç–∏–ø–∞ object
orig_mem = job_position.memory_usage(deep=True)  # 10,244,888 –±–∞–π—Ç

# –ü–∞–º—è—Ç—å –¥–ª—è –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω–æ–≥–æ —Ç–∏–ø–∞  
cat_mem = job_position_cat.memory_usage(deep=True)  # 172,510 –±–∞–π—Ç

print(f"–≠–∫–æ–Ω–æ–º–∏—è –ø–∞–º—è—Ç–∏: {orig_mem / cat_mem:.1f} —Ä–∞–∑!")

–≠–∫–æ–Ω–æ–º–∏—è –ø–∞–º—è—Ç–∏: 59.4 —Ä–∞–∑!

In [32]:
# –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è –≤ 40 —Ä–∞–∑ –±—ã—Å—Ç—Ä–µ–µ!
%timeit job_position == 'SPC'
%timeit job_position_cat == 'SPC'

5.62 ms ¬± 372 Œºs per loop (mean ¬± std. dev. of 7 runs, 100 loops each)
48.1 Œºs ¬± 3.67 Œºs per loop (mean ¬± std. dev. of 7 runs, 10,000 loops each)

In [33]:
# –ü—Ä–æ—Å–º–æ—Ç—Ä –∫–∞—Ç–µ–≥–æ—Ä–∏–π

# –£–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏
print(job_position_cat.cat.categories)
# Index(['ATP', 'BIS', 'BIU', 'DIR', ...], dtype='object')

# –¶–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–µ –∫–æ–¥—ã
print(job_position_cat.cat.codes.head())
# 0    14
# 1    14  
# 2    13
# dtype: int8

Index(['ATP', 'BIS', 'BIU', 'DIR', 'HSK', 'INP', 'INV', 'NOR', 'ONB', 'PNA',
       'PNI', 'PNS', 'PNV', 'SPC', 'UMN', 'WOI', 'WRK', 'WRP'],
      dtype='object')
0    14
1    14
2    13
3    13
4    13
dtype: int8

In [34]:
# –° —á–∏—Å–ª–æ–≤—ã–º–∏ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º–∏
# –ú–µ—Å—è—Ü—ã –∫—Ä–µ–¥–∏—Ç–∞ –∫–∞–∫ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏
credit_month_cat = credit['credit_month'].astype('category')
print(credit_month_cat.head())

0    10
1     6
2    12
3    12
4    10
Name: credit_month, dtype: category
Categories (31, int64): [3, 4, 5, 6, ..., 30, 31, 32, 36]

–ö–æ–≥–¥–∞ –Ω–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π —Ç–∏–ø?  
‚ùå –ö–æ–≥–¥–∞ –º–Ω–æ–≥–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π (–±–æ–ª—å—à–µ 50% –æ—Ç –æ–±—â–µ–≥–æ —á–∏—Å–ª–∞)  
‚ùå –ö–æ–≥–¥–∞ –¥–∞–Ω–Ω—ã–µ –ø–æ—Å—Ç–æ—è–Ω–Ω–æ –º–µ–Ω—è—é—Ç—Å—è (–¥–æ–±–∞–≤–ª—è—é—Ç—Å—è –Ω–æ–≤—ã–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏)  
‚ùå –î–ª—è —á–∏—Å–ª–æ–≤—ã—Ö –≤—ã—á–∏—Å–ª–µ–Ω–∏–π (—Å—É–º–º–∏—Ä–æ–≤–∞–Ω–∏–µ, —É—Å—Ä–µ–¥–Ω–µ–Ω–∏–µ)

#### 6.9.2.3. –¢–∏–ø –¥–∞–Ω–Ω—ã—Ö string (—Å—Ç—Ä–æ–∫–æ–≤—ã–π —Ç–∏–ø), 'string'

**–°—Ç—Ä–æ–∫–æ–≤—ã–π —Ç–∏–ø** ‚Äî —ç—Ç–æ –Ω–æ–≤—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –≤ pandas, —Å–ø–µ—Ü–∏–∞–ª—å–Ω–æ –ø—Ä–µ–¥–Ω–∞–∑–Ω–∞—á–µ–Ω–Ω—ã–π –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å–æ —Å—Ç—Ä–æ–∫–∞–º–∏. –û–Ω –±—ã–ª –¥–æ–±–∞–≤–ª–µ–Ω –≤ –≤–µ—Ä—Å–∏–∏ 1.0 –∏ –ø–æ–∫–∞ –ø–æ–º–µ—á–µ–Ω –∫–∞–∫ —ç–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç–∞–ª—å–Ω—ã–π.

–°–æ–∑–¥–∞–Ω–∏–µ —Å—Ç—Ä–æ–∫–æ–≤–æ–≥–æ —Ç–∏–ø–∞

In [35]:
import pandas as pd

# –°–ø–æ—Å–æ–± 1: –ß–µ—Ä–µ–∑ —Å—Ç—Ä–æ–∫–æ–≤–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ
s_string = pd.Series(['Python', 'Java', 'Scala', pd.NA], dtype='string')
print(s_string)

# –°–ø–æ—Å–æ–± 2: –ß–µ—Ä–µ–∑ –æ–±—ä–µ–∫—Ç StringDtype
s_string = pd.Series(['Python', 'Java', 'Scala', pd.NA], 
                    dtype=pd.StringDtype())
print(s_string)

0    Python
1      Java
2     Scala
3      <NA>
dtype: string
0    Python
1      Java
2     Scala
3      <NA>
dtype: string

–ö–ª—é—á–µ–≤—ã–µ –æ—Å–æ–±–µ–Ω–Ω–æ—Å—Ç–∏ —Å—Ç—Ä–æ–∫–æ–≤–æ–≥–æ —Ç–∏–ø–∞  
‚úÖ –ì–∞—Ä–∞–Ω—Ç–∏—Ä–æ–≤–∞–Ω–Ω–æ —Å–æ–¥–µ—Ä–∂–∏—Ç —Ç–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫–∏ (–∏ –ø—Ä–æ–ø—É—Å–∫–∏)  
‚úÖ –ï–¥–∏–Ω–æ–æ–±—Ä–∞–∑–Ω–æ–µ –ø–æ–≤–µ–¥–µ–Ω–∏–µ ‚Äî –≤—Å–µ —ç–ª–µ–º–µ–Ω—Ç—ã —Å—Ç–∞–Ω–æ–≤—è—Ç—Å—è —Å—Ç—Ä–æ–∫–∞–º–∏  
‚úÖ –ë–µ–∑–æ–ø–∞—Å–Ω–æ—Å—Ç—å ‚Äî –º–µ–Ω—å—à–µ –æ—à–∏–±–æ–∫ –ø–æ —Å—Ä–∞–≤–Ω–µ–Ω–∏—é —Å object  
‚ùå –≠–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç–∞–ª—å–Ω—ã–π —Å—Ç–∞—Ç—É—Å ‚Äî –≤–æ–∑–º–æ–∂–Ω—ã –∏–∑–º–µ–Ω–µ–Ω–∏—è –≤ –±—É–¥—É—â–µ–º

–ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –≤ —Å—Ç—Ä–æ–∫–æ–≤—ã–π —Ç–∏–ø

In [36]:
# –°–æ–∑–¥–∞–µ–º —Å–µ—Ä–∏—é —Å —Ä–∞–∑–Ω—ã–º–∏ —Ç–∏–ø–∞–º–∏ –¥–∞–Ω–Ω—ã—Ö
garbage_series = pd.Series([[1,2], True, 'some string', 4.5, {'key': 'value'}])

# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –≤ string - –≤—Å–µ —Å—Ç–∞–Ω–æ–≤–∏—Ç—Å—è —Å—Ç—Ä–æ–∫–∞–º–∏!
garbage_string = garbage_series.astype('string')
print(garbage_string)

0              [1, 2]
1                True
2         some string
3                 4.5
4    {'key': 'value'}
dtype: string

In [37]:
print(type(garbage_string.loc[0]))  # <class 'str'>
print(type(garbage_string.loc[1]))  # <class 'str'> 
print(type(garbage_string.loc[2]))  # <class 'str'>

<class 'str'>
<class 'str'>
<class 'str'>

In [38]:
# –†–∞–±–æ—Ç–∞ —Å–æ —Å—Ç—Ä–æ–∫–æ–≤—ã–º–∏ –º–µ—Ç–æ–¥–∞–º–∏
s_string = pd.Series(['Python', 'Java', 'Scala'], dtype='string')
print(s_string.str.upper())

0    PYTHON
1      JAVA
2     SCALA
dtype: string

|–¢–∏–ø|–û–ø–∏—Å–∞–Ω–∏–µ|–ü—Ä–µ–∏–º—É—â–µ—Å—Ç–≤–∞|–ù–µ–¥–æ—Å—Ç–∞—Ç–∫–∏|
|-|-|-|-|
|`object`|–£–Ω–∏–≤–µ—Ä—Å–∞–ª—å–Ω—ã–π|–ì–∏–±–∫–æ—Å—Ç—å|–ú–µ–¥–ª–µ–Ω–Ω—ã–π, –Ω–µ–Ω–∞–¥–µ–∂–Ω—ã–π|
|`string`|–°—Ç—Ä–æ–∫–æ–≤—ã–π|–ë–µ–∑–æ–ø–∞—Å–Ω–æ—Å—Ç—å, —Å–∫–æ—Ä–æ—Å—Ç—å|–≠–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç–∞–ª—å–Ω—ã–π|
|`category`|–ö–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π|–≠–∫–æ–Ω–æ–º–∏—è –ø–∞–º—è—Ç–∏|–î–ª—è –ø–æ–≤—Ç–æ—Ä—è—é—â–∏—Ö—Å—è –∑–Ω–∞—á–µ–Ω–∏–π|

## 6.10. –ß—Ç–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

–ß—Ç–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö ‚Äî —ç—Ç–æ –ø–µ—Ä–≤–∞—è –∏ –≤–∞–∂–Ω–µ–π—à–∞—è –æ–ø–µ—Ä–∞—Ü–∏—è –ø—Ä–∏ —Ä–∞–±–æ—Ç–µ —Å pandas. –†–∞—Å—Å–º–æ—Ç—Ä–∏–º –æ—Å–Ω–æ–≤–Ω—ã–µ –º–æ–º–µ–Ω—Ç—ã –Ω–∞ –ø—Ä–∏–º–µ—Ä–µ —Ñ—É–Ω–∫—Ü–∏–∏ pd.read_csv().

In [39]:
import pandas as pd

# –°–∞–º—ã–π –ø—Ä–æ—Å—Ç–æ–π —Å–ø–æ—Å–æ–± —á—Ç–µ–Ω–∏—è CSV
bikes = pd.read_csv('data/bikes.csv')
bikes.head(3)  # –ü–æ–∫–∞–∑—ã–≤–∞–µ–º –ø–µ—Ä–≤—ã–µ 3 —Å—Ç—Ä–æ–∫–∏

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy

–ö–ª—é—á–µ–≤—ã–µ –ø–∞—Ä–∞–º–µ—Ç—Ä—ã pd.read_csv():
- `header=0` –ó–∞–≥–æ–ª–æ–≤–æ–∫ –≤ –ø–µ—Ä–≤–æ–π —Å—Ç—Ä–æ–∫–µ (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é)
- `index_col=0` –ò—Å–ø–æ–ª—å–∑—É–µ–º –ø–µ—Ä–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü –∫–∞–∫ –∏–Ω–¥–µ–∫—Å
- `parse_dates=True` –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º —Å—Ç–æ–ª–±—Ü—ã —Å –¥–∞—Ç–∞–º–∏

–ü–æ–ª–µ–∑–Ω—ã–µ –ø—Ä–æ–≤–µ—Ä–∫–∏ –ø–æ—Å–ª–µ –∑–∞–≥—Ä—É–∑–∫–∏ —Ñ–∞–π–ª–∞

In [40]:
print(bikes.shape)    # –†–∞–∑–º–µ—Ä–Ω–æ—Å—Ç—å –¥–∞–Ω–Ω—ã—Ö
print()
print(bikes.dtypes)   # –¢–∏–ø—ã —Å—Ç–æ–ª–±—Ü–æ–≤

(50089, 11)

gender                object
starttime             object
stoptime              object
tripduration           int64
from_station_name     object
start_capacity       float64
to_station_name       object
end_capacity         float64
temperature          float64
wind_speed           float64
events                object
dtype: object

## 6.11. –ü–æ–ª—É—á–µ–Ω–∏–µ –æ–±—â–µ–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ

–ü–æ—Å–ª–µ –∑–∞–≥—Ä—É–∑–∫–∏ –¥–∞–Ω–Ω—ã—Ö –≤–∞–∂–Ω–æ –±—ã—Å—Ç—Ä–æ –ø–æ–ª—É—á–∏—Ç—å –æ –Ω–∏—Ö –æ–±—â—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é. Pandas –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª—è–µ—Ç –Ω–µ—Å–∫–æ–ª—å–∫–æ –ø—Ä–æ—Å—Ç—ã—Ö —Å–ø–æ—Å–æ–±–æ–≤ –¥–ª—è —ç—Ç–æ–≥–æ.

In [41]:
# –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –∏ —Å—Ç–æ–ª–±—Ü–æ–≤
print(f'–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –∏ —Å—Ç–æ–ª–±—Ü–æ–≤ {bikes.shape}')
print()

# –ê–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–Ω–æ: —Ç–æ–ª—å–∫–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫
print(f'–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ {len(bikes)}')
print()

# –¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –≤—Å–µ—Ö —Å—Ç–æ–ª–±—Ü–æ–≤
print('–¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –≤—Å–µ—Ö —Å—Ç–æ–ª–±—Ü–æ–≤')
print(bikes.dtypes)
print()

# –í—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ DataFrame
print('–í—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ DataFrame')
print(bikes.info())
print()

# –°–ø–∏—Å–æ–∫ –≤—Å–µ—Ö —Å—Ç–æ–ª–±—Ü–æ–≤
print(f'–°–ø–∏—Å–æ–∫ –≤—Å–µ—Ö —Å—Ç–æ–ª–±—Ü–æ–≤ {bikes.columns.tolist()}')

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –∏ —Å—Ç–æ–ª–±—Ü–æ–≤ (50089, 11)

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ 50089

–¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –≤—Å–µ—Ö —Å—Ç–æ–ª–±—Ü–æ–≤
gender                object
starttime             object
stoptime              object
tripduration           int64
from_station_name     object
start_capacity       float64
to_station_name       object
end_capacity         float64
temperature          float64
wind_speed           float64
events                object
dtype: object

–í—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ DataFrame
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50089 entries, 0 to 50088
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             50089 non-null  object
 1   starttime          50089 non-null  object
 2   stoptime           50089 non-null  object
 3   tripduration       50089 non-null  int64
 4   from_station_name  50089 non-null  object
 5   start_capacity     50083 non-null  float64
 6   to_station_name    50089 non-null  object
 7   end_capacity       50077 non-null  float64
 8   temperature        50089 non-null  float64
 9   wind_speed         50089 non-null  float64
 10  events             50089 non-null  object
dtypes: float64(4), int64(1), object(6)
memory usage: 4.2+ MB
None

–°–ø–∏—Å–æ–∫ –≤—Å–µ—Ö —Å—Ç–æ–ª–±—Ü–æ–≤ ['gender', 'starttime', 'stoptime', 'tripduration', 'from_station_name', 'start_capacity', 'to_station_name', 'end_capacity', 'temperature', 'wind_speed', 'events']

–ò—Å–ø—Ä–∞–≤–ª–µ–Ω–∏–µ —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–∏ —á—Ç–µ–Ω–∏–∏. pandas –Ω–µ –≤—Å–µ–≥–¥–∞ –ø—Ä–∞–≤–∏–ª—å–Ω–æ –æ–ø—Ä–µ–¥–µ–ª—è–µ—Ç —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö (–æ—Å–æ–±–µ–Ω–Ω–æ –¥–∞—Ç—ã)

In [42]:
# –ü—Ä–∞–≤–∏–ª—å–Ω–æ–µ —á—Ç–µ–Ω–∏–µ —Å –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º –¥–∞—Ç
bikes = pd.read_csv('Data/bikes.csv', 
                   parse_dates=['starttime', 'stoptime'])

# –¢–µ–ø–µ—Ä—å —Ç–∏–ø—ã –ø—Ä–∞–≤–∏–ª—å–Ω—ã–µ
print(bikes.dtypes.head())

gender                       object
starttime            datetime64[ns]
stoptime             datetime64[ns]
tripduration                  int64
from_station_name            object
dtype: object

–ë—ã—Å—Ç—Ä–∞—è –ø—Ä–æ–≤–µ—Ä–∫–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ—Å–ª–µ –∑–∞–≥—Ä—É–∑–∫–∏
```python
# 1. –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö
df = pd.read_csv('data.csv', parse_dates=['date_columns'])

# 2. –ë—ã—Å—Ç—Ä–∞—è –ø—Ä–æ–≤–µ—Ä–∫–∞
print("–†–∞–∑–º–µ—Ä –¥–∞–Ω–Ω—ã—Ö:", df.shape)
print("\n–¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö:")
print(df.dtypes)
print("\n–ü—Ä–æ–ø—É—Å–∫–∏ –≤ –¥–∞–Ω–Ω—ã—Ö:")
print(df.isnull().sum())
print("\n–ü–µ—Ä–≤—ã–µ 3 —Å—Ç—Ä–æ–∫–∏:")
print(df.head(3))
```

–ü–æ–ª—É—á–µ–Ω–∏–µ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –æ DataFrame ‚Äî –∫—Ä–∏—Ç–∏—á–µ—Å–∫–∏ –≤–∞–∂–Ω—ã–π –ø–µ—Ä–≤—ã–π —à–∞–≥:

üîç –í—Å–µ–≥–¥–∞ –ø—Ä–æ–≤–µ—Ä—è–π—Ç–µ .shape –∏ .dtypes  
üìÖ –ò—Å–ø—Ä–∞–≤–ª—è–π—Ç–µ –¥–∞—Ç—ã –ø—Ä–∏ –∑–∞–≥—Ä—É–∑–∫–µ  
‚úÖ –ò—Å–ø–æ–ª—å–∑—É–π—Ç–µ .info() –¥–ª—è –±—ã—Å—Ç—Ä–æ–π –¥–∏–∞–≥–Ω–æ—Å—Ç–∏–∫–∏  
‚ùó –û–±—Ä–∞—â–∞–π—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ –Ω–∞ –ø—Ä–æ–ø—É—Å–∫–∏

## 6.12. –ò–∑–º–µ–Ω–µ–Ω–∏–µ –Ω–∞—Å—Ç—Ä–æ–µ–∫ –≤—ã–≤–æ–¥–∞ —Å –ø–æ–º–æ—â—å—é —Ñ—É–Ω–∫—Ü–∏–∏ get_options()

Pandas –ø–æ–∑–≤–æ–ª—è–µ—Ç –Ω–∞—Å—Ç—Ä–æ–∏—Ç—å –∫–∞–∫ –¥–∞–Ω–Ω—ã–µ –≤—ã–≤–æ–¥—è—Ç—Å—è –Ω–∞ —ç–∫—Ä–∞–Ω. –≠—Ç–æ –æ—Å–æ–±–µ–Ω–Ω–æ –ø–æ–ª–µ–∑–Ω–æ –ø—Ä–∏ —Ä–∞–±–æ—Ç–µ —Å –±–æ–ª—å—à–∏–º–∏ DataFrame.

–¢–µ–∫—É—â–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è –Ω–∞—Å—Ç—Ä–æ–µ–∫

In [43]:
# –ú–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç–æ–ª–±—Ü–æ–≤
print("–ú–∞–∫—Å. —Å—Ç–æ–ª–±—Ü–æ–≤:", pd.get_option('display.max_columns'))  # –ü–æ —É–º–æ–ª—á–∞–Ω–∏—é: 20

# –ú–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫  
print("–ú–∞–∫—Å. —Å—Ç—Ä–æ–∫:", pd.get_option('display.max_rows'))       # –ü–æ —É–º–æ–ª—á–∞–Ω–∏—é: 60

# –ú–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è —à–∏—Ä–∏–Ω–∞ —Å—Ç–æ–ª–±—Ü–∞
print("–ú–∞–∫—Å. —à–∏—Ä–∏–Ω–∞ —Å—Ç–æ–ª–±—Ü–∞:", pd.get_option('display.max_colwidth'))  # –ü–æ —É–º–æ–ª—á–∞–Ω–∏—é: 50

–ú–∞–∫—Å. —Å—Ç–æ–ª–±—Ü–æ–≤: 20
–ú–∞–∫—Å. —Å—Ç—Ä–æ–∫: 60
–ú–∞–∫—Å. —à–∏—Ä–∏–Ω–∞ —Å—Ç–æ–ª–±—Ü–∞: 50

–£—Å—Ç–∞–Ω–æ–≤–∫–∞ –Ω–æ–≤—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
```python
# –ò–∑–º–µ–Ω—è–µ–º –Ω–∞—Å—Ç—Ä–æ–π–∫–∏ –æ—Ç–æ–±—Ä–∞–∂–µ–Ω–∏—è
pd.set_option('display.max_columns', 30)   # –ü–æ–∫–∞–∑—ã–≤–∞—Ç—å –¥–æ 30 —Å—Ç–æ–ª–±—Ü–æ–≤
pd.set_option('display.max_rows', 100)     # –ü–æ–∫–∞–∑—ã–≤–∞—Ç—å –¥–æ 100 —Å—Ç—Ä–æ–∫
pd.set_option('display.max_colwidth', 70)  # –®–∏—Ä–∏–Ω–∞ —Å—Ç–æ–ª–±—Ü–∞ –¥–æ 70 —Å–∏–º–≤–æ–ª–æ–≤
```
–ö–æ–º–±–∏–Ω–∏—Ä–æ–≤–∞–Ω–Ω–∞—è –Ω–∞—Å—Ç—Ä–æ–π–∫–∞
```python
# –ú–æ–∂–Ω–æ –Ω–∞—Å—Ç—Ä–æ–∏—Ç—å –≤—Å–µ —Å—Ä–∞–∑—É
pd.set_option('display.max_columns', 30, 
              'display.max_rows', 100,
              'display.max_colwidth', 70)
```

–î—Ä—É–≥–∏–µ –ø–æ–ª–µ–∑–Ω—ã–µ –Ω–∞—Å—Ç—Ä–æ–π–∫–∏
```python
# –§–æ—Ä–º–∞—Ç —á–∏—Å–µ–ª —Å –ø–ª–∞–≤–∞—é—â–µ–π —Ç–æ—á–∫–æ–π
pd.set_option('display.float_format', '{:.2f}'.format)  # 2 –∑–Ω–∞–∫–∞ –ø–æ—Å–ª–µ –∑–∞–ø—è—Ç–æ–π

# –®–∏—Ä–∏–Ω–∞ –≤—ã–≤–æ–¥–∞ (–≤ —Å–∏–º–≤–æ–ª–∞—Ö)
pd.set_option('display.width', 120)  # –®–∏—Ä–µ –≤—ã–≤–æ–¥

# –ü–æ–∫–∞–∑—ã–≤–∞—Ç—å –≤—Å–µ —Å—Ç—Ä–æ–∫–∏ (–æ—Å—Ç–æ—Ä–æ–∂–Ω–æ!)
pd.set_option('display.max_rows', None)  # –ü–æ–∫–∞–∑—ã–≤–∞—Ç—å –í–°–ï —Å—Ç—Ä–æ–∫–∏
```

–°–±—Ä–æ—Å –Ω–∞—Å—Ç—Ä–æ–µ–∫
```python
# –í–µ—Ä–Ω—É—Ç—å –Ω–∞—Å—Ç—Ä–æ–π–∫–∏ –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é
pd.reset_option('display.max_columns')
pd.reset_option('display.max_rows')
pd.reset_option('display.max_colwidth')

# –ò–ª–∏ —Å–±—Ä–æ—Å–∏—Ç—å –≤—Å–µ –Ω–∞—Å—Ç—Ä–æ–π–∫–∏
pd.reset_option('all')
```

## 6.13. –ó–Ω–∞–∫–æ–º—Å—Ç–≤–æ —Å –∏–Ω–¥–µ–∫—Å–∞—Ç–æ—Ä–∞–º–∏ [], loc –∏ iloc

–ò–Ω–¥–µ–∫—Å–∞—Ç–æ—Ä—ã ‚Äî —ç—Ç–æ —Å–ø–æ—Å–æ–±—ã –≤—ã–±—Ä–∞—Ç—å –Ω—É–∂–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ DataFrame. –í pandas –µ—Å—Ç—å —Ç—Ä–∏ –æ—Å–Ω–æ–≤–Ω—ã—Ö –∏–Ω–¥–µ–∫—Å–∞—Ç–æ—Ä–∞: [], .loc[] –∏ .iloc[].
–ó–∞–ø–æ–º–Ω–∏—Ç–µ: loc –∏ iloc ‚Äî —ç—Ç–æ –Ω–µ –º–µ—Ç–æ–¥—ã, –∞ –∏–Ω–¥–µ–∫—Å–∞—Ç–æ—Ä—ã, –ø–æ—ç—Ç–æ–º—É –≤—Å–µ–≥–¥–∞ –∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ []!

In [44]:
# –û–¥–∏–Ω —Å—Ç–æ–ª–±–µ—Ü - –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç Series
bikes['gender']

0          Male
1          Male
2          Male
3          Male
4          Male
          ...
50084      Male
50085      Male
50086      Male
50087    Female
50088      Male
Name: gender, Length: 50089, dtype: object

In [45]:
# –ù–µ—Å–∫–æ–ª—å–∫–æ —Å—Ç–æ–ª–±—Ü–æ–≤ - –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç DataFrame
bikes[['gender', 'tripduration']]

       gender  tripduration
0        Male           993
1        Male           623
2        Male          1040
3        Male           667
4        Male           130
...       ...           ...
50084    Male          1625
50085    Male           585
50086    Male           824
50087  Female           178
50088    Male           214

[50089 rows x 2 columns]

–ò–Ω–¥–µ–∫—Å–∞—Ç–æ—Ä .loc[] ‚Äî –ø–æ –º–µ—Ç–∫–∞–º. –†–∞–±–æ—Ç–∞–µ—Ç —Å –º–µ—Ç–∫–∞–º–∏ (labels) —Å—Ç—Ä–æ–∫ –∏ —Å—Ç–æ–ª–±—Ü–æ–≤.

–ò–Ω–¥–µ–∫—Å–∞—Ç–æ—Ä .iloc[] ‚Äî –ø–æ –ø–æ–∑–∏—Ü–∏—è–º. –†–∞–±–æ—Ç–∞–µ—Ç —Å —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–º–∏ –ø–æ–∑–∏—Ü–∏—è–º–∏ (–∏–Ω–¥–µ–∫—Å–∞–º–∏).

- .loc[]: 0:3 –≤–∫–ª—é—á–∞–µ—Ç –≤—Å–µ –º–µ—Ç–∫–∏ –æ—Ç 0 –¥–æ 3 (–≤–∫–ª—é—á–∏—Ç–µ–ª—å–Ω–æ)
- .iloc[]: 0:3 –≤–∫–ª—é—á–∞–µ—Ç –ø–æ–∑–∏—Ü–∏–∏ –æ—Ç 0 –¥–æ 2 (3 –∏—Å–∫–ª—é—á–∞–µ—Ç—Å—è)

In [46]:
# –°—Ç—Ä–æ–∫–∏ 0 –∏ 1, —Å—Ç–æ–ª–±—Ü—ã 'start_capacity' –∏ 'tripduration'
bikes.loc[[0, 1], ['start_capacity', 'tripduration']]

   start_capacity  tripduration
0            11.0           993
1            31.0           623

```python
# –°—Ç—Ä–æ–∫–∏ 0-3, —Å—Ç–æ–ª–±—Ü—ã –æ—Ç 'gender' –¥–æ 'tripduration'
bikes.loc[0:3, 'gender':'tripduration']

# –ö–∞–∂–¥–∞—è 2-—è —Å—Ç—Ä–æ–∫–∞, –∫–∞–∂–¥—ã–π 2-–π —Å—Ç–æ–ª–±–µ—Ü
bikes.loc[0::2, 'gender':'events':2]

# –° 5-–π —Å—Ç—Ä–æ–∫–∏ –¥–æ –∫–æ–Ω—Ü–∞, —Å —Å—Ç–æ–ª–±—Ü–∞ 'from_station_name' –¥–æ –∫–æ–Ω—Ü–∞
bikes.loc[4:, 'from_station_name':]
```

```python
# –í—Å–µ —Å—Ç—Ä–æ–∫–∏, –∫–æ–Ω–∫—Ä–µ—Ç–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã
bikes.loc[:, ['start_capacity', 'tripduration']]

# –ö–æ–Ω–∫—Ä–µ—Ç–Ω—ã–µ —Å—Ç—Ä–æ–∫–∏, –≤—Å–µ —Å—Ç–æ–ª–±—Ü—ã
bikes.loc[[1, 5, 6], :]

# –î–∏–∞–ø–∞–∑–æ–Ω —Å—Ç—Ä–æ–∫, –≤—Å–µ —Å—Ç–æ–ª–±—Ü—ã
bikes.loc[0::10, :]  # –ö–∞–∂–¥–∞—è 10-—è —Å—Ç—Ä–æ–∫–∞
```

```python
# –°—Ç—Ä–æ–∫–∏ 2-3 (–ø–æ–∑–∏—Ü–∏–∏ 2 –∏ 3), —Å—Ç–æ–ª–±—Ü—ã 2-3 (–ø–æ–∑–∏—Ü–∏–∏ 2 –∏ 3)
bikes.iloc[2:4, 2:4]

# –í—Å–µ —Å—Ç—Ä–æ–∫–∏, —Å—Ç–æ–ª–±—Ü—ã 3 –∏ 5
bikes.iloc[:, [3, 5]]

# –°—Ç—Ä–æ–∫–∏ 3 –∏ 5, –≤—Å–µ —Å—Ç–æ–ª–±—Ü—ã
bikes.iloc[[3, 5], :]

```

–ë—ã—Å—Ç—Ä—ã–µ –∏–Ω–¥–µ–∫—Å–∞—Ç–æ—Ä—ã .at[] –∏ .iat[]. –î–ª—è –≤—ã–±–æ—Ä–∞ –æ–¥–Ω–æ–π —è—á–µ–π–∫–∏ (–±—ã—Å—Ç—Ä–µ–µ —á–µ–º .loc/.iloc).

In [47]:
# –Ø—á–µ–π–∫–∞: —Å—Ç—Ä–æ–∫–∞ 3, —Å—Ç–æ–ª–±–µ—Ü 'tripduration'
bikes.at[3, 'tripduration']  # –í–æ–∑–≤—Ä–∞—â–∞–µ—Ç: 667

np.int64(667)

In [48]:
# –Ø—á–µ–π–∫–∞: —Å—Ç—Ä–æ–∫–∞ 3, —Å—Ç–æ–ª–±–µ—Ü 3
bikes.iat[3, 3]  # –í–æ–∑–≤—Ä–∞—â–∞–µ—Ç: 667

np.int64(667)

- [] ‚Äî –¥–ª—è –ø—Ä–æ—Å—Ç–æ–≥–æ –≤—ã–±–æ—Ä–∞ —Å—Ç–æ–ª–±—Ü–æ–≤
- .loc[] ‚Äî –∫–æ–≥–¥–∞ –∑–Ω–∞–µ—Ç–µ –º–µ—Ç–∫–∏ —Å—Ç—Ä–æ–∫/—Å—Ç–æ–ª–±—Ü–æ–≤
- .iloc[] ‚Äî –∫–æ–≥–¥–∞ –∑–Ω–∞–µ—Ç–µ –ø–æ–∑–∏—Ü–∏–∏ —Å—Ç—Ä–æ–∫/—Å—Ç–æ–ª–±—Ü–æ–≤
- .at[]/.iat[] ‚Äî –¥–ª—è –±—ã—Å—Ç—Ä–æ–≥–æ –¥–æ—Å—Ç—É–ø–∞ –∫ –æ–¥–Ω–æ–π —è—á–µ–π–∫–µ

## 6.14. –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö

–ë–∏–±–ª–∏–æ—Ç–µ–∫–∞ pandas –º–æ–∂–µ—Ç –æ—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞—Ç—å —Å—Ç—Ä–æ–∫–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —Ç–æ–≥–æ, —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—Ç –ª–∏ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —ç—Ç–æ–π —Å—Ç—Ä–æ–∫–µ —É—Å–ª–æ–≤–∏—é. –ù–∞–ø—Ä–∏–º–µ—Ä, –º—ã
–º–æ–∂–µ–º –≤—ã–±—Ä–∞—Ç—å —Ç–æ–ª—å–∫–æ —Ç–µ –ø–æ–µ–∑–¥–∫–∏, –ø—Ä–æ–¥–æ–ª–∂–∏—Ç–µ–ª—å–Ω–æ—Å—Ç—å –∫–æ—Ç–æ—Ä—ã—Ö –ø—Ä–µ–≤—ã—à–∞–µ—Ç 5000 (—Å–µ–∫—É–Ω–¥).

### 6.14.1. –û–¥–Ω–æ —É—Å–ª–æ–≤–∏–µ

–ù–∏–∂–µ –º—ã –ø—Ä–∏–≤–µ–¥–µ–º –ø—Ä–∏–º–µ—Ä —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –Ω–∞ –æ—Å–Ω–æ–≤–µ –æ–¥–Ω–æ–≥–æ —É—Å–ª–æ–≤–∏—è, –∫–æ—Ç–æ—Ä–æ–µ –ø—Ä–æ–≤–µ—Ä—è–µ—Ç—Å—è –¥–ª—è –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–∏. –í–æ–∑–≤—Ä–∞—â–∞—é—Ç—Å—è —Ç–æ–ª—å–∫–æ —Ç–µ —Å—Ç—Ä–æ–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ —É–¥–æ–≤–ª–µ—Ç–≤–æ—Ä—è—é—Ç —ç—Ç–æ–º—É —É—Å–ª–æ–≤–∏—é.

In [49]:
# –æ—Ç–±–æ—Ä –ø–æ –æ–¥–Ω–æ–º—É —É—Å–ª–æ–≤–∏—é
filt = bikes['tripduration'] > 5000
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
18,Male,2013-07-09 13:12:00,2013-07-09 14:42:00,5396,Canal St & Jackson Blvd,35.0,Millennium Park,35.0,79.0,13.8,cloudy
40,Female,2013-07-14 14:08:00,2013-07-14 15:53:00,6274,Wabash Ave & Roosevelt Rd,19.0,Lake Shore Dr & Monroe St,11.0,87.1,8.1,partlycloudy
77,Female,2013-07-21 11:35:00,2013-07-21 13:54:00,8299,State St & 19th St,15.0,Sheffield Ave & Kingsbury St,15.0,82.9,5.8,mostlycloudy

### 6.14.2. –ù–µ—Å–∫–æ–ª—å–∫–æ —É—Å–ª–æ–≤–∏–π

In [50]:
# –æ—Ç–±–æ—Ä –ø–æ –Ω–µ—Å–∫–æ–ª—å–∫–∏–º —É—Å–ª–æ–≤–∏—è–º
filt1 = bikes['tripduration'] > 5000
filt2 = bikes['gender'] == 'Female'
filt = filt1 & filt2
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
40,Female,2013-07-14 14:08:00,2013-07-14 15:53:00,6274,Wabash Ave & Roosevelt Rd,19.0,Lake Shore Dr & Monroe St,11.0,87.1,8.1,partlycloudy
77,Female,2013-07-21 11:35:00,2013-07-21 13:54:00,8299,State St & 19th St,15.0,Sheffield Ave & Kingsbury St,15.0,82.9,5.8,mostlycloudy
1954,Female,2013-12-28 11:37:00,2013-12-28 13:34:00,7050,LaSalle St & Washington St,15.0,Theater on the Lake,15.0,44.1,12.7,clear

In [51]:
# —Ç–æ–ª—å–∫–æ –æ–¥–Ω–æ –∏–∑ —É—Å–ª–æ–≤–∏–π —è–≤–ª—è–µ—Ç—Å—è –∏—Å—Ç–∏–Ω–Ω—ã–º
filt = filt1 | filt2
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
9,Female,2013-07-04 15:00:00,2013-07-04 15:16:00,922,Lakeview Ave & Fullerton Pkwy,19.0,Racine Ave & Congress Pkwy,19.0,81.0,12.7,mostlycloudy
14,Female,2013-07-06 12:39:00,2013-07-06 12:49:00,610,Morgan St & Lake St,15.0,Aberdeen St & Jackson Blvd,15.0,82.0,5.8,mostlycloudy
18,Male,2013-07-09 13:12:00,2013-07-09 14:42:00,5396,Canal St & Jackson Blvd,35.0,Millennium Park,35.0,79.0,13.8,cloudy

### 6.14.3. –ù–µ—Å–∫–æ–ª—å–∫–æ —É—Å–ª–æ–≤–∏–π –≤ –æ–¥–Ω–æ–º —Å—Ç–æ–ª–±—Ü–µ

In [52]:
# –Ω–µ—Å–∫–æ–ª—å–∫–æ —É—Å–ª–æ–≤–∏–π –≤ –æ–¥–Ω–æ–º —Å—Ç–æ–ª–±—Ü–µ events
filt = ((bikes['events'] == 'rain') | (bikes['events'] == 'snow') | 
        (bikes['events'] == 'tstorms') | 
        (bikes['events'] == 'sleet'))
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
45,Male,2013-07-15 16:43:00,2013-07-15 16:55:00,727,Greenwood Ave & 47th St,15.0,State St & Harrison St,19.0,82.9,5.8,rain
78,Male,2013-07-21 16:35:00,2013-07-21 17:06:00,1809,Michigan Ave & Pearson St,23.0,Millennium Park,35.0,82.4,11.5,tstorms
79,Male,2013-07-21 16:47:00,2013-07-21 17:03:00,999,Carpenter St & Huron St,19.0,Carpenter St & Huron St,19.0,82.4,11.5,tstorms

In [53]:
# –Ω–µ—Å–∫–æ–ª—å–∫–æ —É—Å–ª–æ–≤–∏–π –≤ –æ–¥–Ω–æ–º —Å—Ç–æ–ª–±—Ü–µ events,
# –∏—Å–ø–æ–ª—å–∑—É–µ–º isin
filt = bikes['events'].isin(['rain', 'snow', 'tstorms', 'sleet'])
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
45,Male,2013-07-15 16:43:00,2013-07-15 16:55:00,727,Greenwood Ave & 47th St,15.0,State St & Harrison St,19.0,82.9,5.8,rain
78,Male,2013-07-21 16:35:00,2013-07-21 17:06:00,1809,Michigan Ave & Pearson St,23.0,Millennium Park,35.0,82.4,11.5,tstorms
79,Male,2013-07-21 16:47:00,2013-07-21 17:03:00,999,Carpenter St & Huron St,19.0,Carpenter St & Huron St,19.0,82.4,11.5,tstorms

In [54]:
# —Å–æ—á–µ—Ç–∞–Ω–∏–µ isin –∏ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–≥–æ —Ñ–∏–ª—å—Ç—Ä–∞
filt1 = bikes['events'].isin(['rain', 'snow', 'tstorms', 'sleet'])
filt2 = bikes['tripduration'] > 2000
filt = filt1 & filt2
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
2344,Female,2014-03-19 07:23:00,2014-03-19 08:00:00,2181,Seeley Ave & Roscoe St,11.0,Franklin St & Lake St,23.0,43.0,6.9,rain
7697,Male,2014-09-12 14:20:00,2014-09-12 14:57:00,2213,Damen Ave & Pierce Ave,19.0,California Ave & Division St,15.0,52.0,12.7,rain
8357,Male,2014-09-30 08:21:00,2014-09-30 08:58:00,2246,Damen Ave & Melrose Ave,11.0,Wood St & Taylor St,15.0,46.9,11.5,rain

### 6.14.4. –ò—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ –º–µ—Ç–æ–¥–∞ .query()

–ú–µ—Ç–æ–¥ `.query()` ‚Äî —ç—Ç–æ —É–¥–æ–±–Ω—ã–π —Å–ø–æ—Å–æ–± —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –¥–∞–Ω–Ω—ã—Ö —Å –ø–æ–º–æ—â—å—é —Å—Ç—Ä–æ–∫–æ–≤—ã—Ö –≤—ã—Ä–∞–∂–µ–Ω–∏–π. –û–Ω —á–∞—Å—Ç–æ –±–æ–ª–µ–µ —á–∏—Ç–∞–µ–º, —á–µ–º —Ç—Ä–∞–¥–∏—Ü–∏–æ–Ω–Ω—ã–µ –º–µ—Ç–æ–¥—ã —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏.

In [55]:
# –ü–æ–µ–∑–¥–∫–∏ –¥–ª–∏—Ç–µ–ª—å–Ω–æ—Å—Ç—å—é –±–æ–ª—å—à–µ 5000 —Å–µ–∫—É–Ω–¥
bikes.query('tripduration > 5000').head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
18,Male,2013-07-09 13:12:00,2013-07-09 14:42:00,5396,Canal St & Jackson Blvd,35.0,Millennium Park,35.0,79.0,13.8,cloudy
40,Female,2013-07-14 14:08:00,2013-07-14 15:53:00,6274,Wabash Ave & Roosevelt Rd,19.0,Lake Shore Dr & Monroe St,11.0,87.1,8.1,partlycloudy
77,Female,2013-07-21 11:35:00,2013-07-21 13:54:00,8299,State St & 19th St,15.0,Sheffield Ave & Kingsbury St,15.0,82.9,5.8,mostlycloudy

In [56]:
# –ü–æ–µ–∑–¥–∫–∏ >5000 —Å–µ–∫—É–Ω–¥ –ò –∂–µ–Ω—Å–∫–∏–π –ø–æ–ª
bikes.query('tripduration > 5000 and gender == "Female"').head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
40,Female,2013-07-14 14:08:00,2013-07-14 15:53:00,6274,Wabash Ave & Roosevelt Rd,19.0,Lake Shore Dr & Monroe St,11.0,87.1,8.1,partlycloudy
77,Female,2013-07-21 11:35:00,2013-07-21 13:54:00,8299,State St & 19th St,15.0,Sheffield Ave & Kingsbury St,15.0,82.9,5.8,mostlycloudy
1954,Female,2013-12-28 11:37:00,2013-12-28 13:34:00,7050,LaSalle St & Washington St,15.0,Theater on the Lake,15.0,44.1,12.7,clear

In [57]:
# –ü–æ–µ–∑–¥–∫–∏ >5000 —Å–µ–∫—É–Ω–¥ –ò–õ–ò –∂–µ–Ω—Å–∫–∏–π –ø–æ–ª
bikes.query('tripduration > 5000 or gender == "Female"').head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
9,Female,2013-07-04 15:00:00,2013-07-04 15:16:00,922,Lakeview Ave & Fullerton Pkwy,19.0,Racine Ave & Congress Pkwy,19.0,81.0,12.7,mostlycloudy
14,Female,2013-07-06 12:39:00,2013-07-06 12:49:00,610,Morgan St & Lake St,15.0,Aberdeen St & Jackson Blvd,15.0,82.0,5.8,mostlycloudy
18,Male,2013-07-09 13:12:00,2013-07-09 14:42:00,5396,Canal St & Jackson Blvd,35.0,Millennium Park,35.0,79.0,13.8,cloudy

In [58]:
# –ü–æ–µ–∑–¥–∫–∏ –≤ —Å–Ω–µ–≥ –∏–ª–∏ –¥–æ–∂–¥—å
bikes.query('events in ["snow", "rain"]').head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
45,Male,2013-07-15 16:43:00,2013-07-15 16:55:00,727,Greenwood Ave & 47th St,15.0,State St & Harrison St,19.0,82.9,5.8,rain
112,Male,2013-07-26 19:10:00,2013-07-26 19:33:00,1395,Larrabee St & Kingsbury St,27.0,Damen Ave & Pierce Ave,19.0,66.9,12.7,rain
124,Male,2013-07-30 18:53:00,2013-07-30 19:00:00,442,Canal St & Jackson Blvd,35.0,Racine Ave & Congress Pkwy,19.0,69.1,3.5,rain

–í–∞–∂–Ω–æ: .query() –Ω–µ –ø–æ–∑–≤–æ–ª—è–µ—Ç –≤—ã–±–∏—Ä–∞—Ç—å —Å—Ç–æ–ª–±—Ü—ã, —Ç–æ–ª—å–∫–æ —Ñ–∏–ª—å—Ç—Ä–æ–≤–∞—Ç—å —Å—Ç—Ä–æ–∫–∏.

In [59]:
# –°–Ω–∞—á–∞–ª–∞ —Ñ–∏–ª—å—Ç—Ä—É–µ–º, –ø–æ—Ç–æ–º –≤—ã–±–∏—Ä–∞–µ–º —Å—Ç–æ–ª–±—Ü—ã
cols = ['starttime', 'temperature', 'events']
bikes.query('events in ["snow", "rain"]')[cols].head(3)

              starttime  temperature events
45  2013-07-15 16:43:00         82.9   rain
112 2013-07-26 19:10:00         66.9   rain
124 2013-07-30 18:53:00         69.1   rain

In [60]:
# –ú–æ–∂–Ω–æ –æ–±—ä–µ–¥–∏–Ω—è—Ç—å –≤ —Ü–µ–ø–æ—á–∫—É
bikes.query('tripduration > 5000') \
     .query('gender == "Female"') \
     [['starttime', 'tripduration']] \
     .head(3)

               starttime  tripduration
40   2013-07-14 14:08:00          6274
77   2013-07-21 11:35:00          8299
1954 2013-12-28 11:37:00          7050

–ú–µ—Ç–æ–¥ .query() ‚Äî –æ—Ç–ª–∏—á–Ω—ã–π –≤—ã–±–æ—Ä –∫–æ–≥–¥–∞:  
‚úÖ –ù—É–∂–Ω—ã —Å–ª–æ–∂–Ω—ã–µ —É—Å–ª–æ–≤–∏—è —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏  
‚úÖ –í–∞–∂–Ω–∞ —á–∏—Ç–∞–µ–º–æ—Å—Ç—å –∫–æ–¥–∞  
‚úÖ –£—Å–ª–æ–≤–∏—è –¥–∏–Ω–∞–º–∏—á–µ—Å–∫–∏–µ (–º–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ)

–õ—É—á—à–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Ç—Ä–∞–¥–∏—Ü–∏–æ–Ω–Ω—ã–µ –º–µ—Ç–æ–¥—ã –∫–æ–≥–¥–∞:  
‚ùå –ù—É–∂–Ω–æ –æ–¥–Ω–æ–≤—Ä–µ–º–µ–Ω–Ω–æ —Ñ–∏–ª—å—Ç—Ä–æ–≤–∞—Ç—å –∏ –≤—ã–±–∏—Ä–∞—Ç—å —Å—Ç–æ–ª–±—Ü—ã  
‚ùå –ö—Ä–∏—Ç–∏—á–Ω–∞ –ø—Ä–æ–∏–∑–≤–æ–¥–∏—Ç–µ–ª—å–Ω–æ—Å—Ç—å –¥–ª—è –±–æ–ª—å—à–∏—Ö –¥–∞–Ω–Ω—ã—Ö  
‚ùå –ù—É–∂–Ω—ã —Å–ø–µ—Ü–∏—Ñ–∏—á–µ—Å–∫–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –¥–∞–Ω–Ω—ã–º–∏

## 6.15. –ê–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

### 6.15.1. –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –∏ –∞–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–∏–µ —Å –ø–æ–º–æ—â—å—é –æ–¥–Ω–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞

–ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –∏ –∞–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–∏–µ ‚Äî –æ–¥–Ω–∞ –∏–∑ —Å–∞–º—ã—Ö –º–æ—â–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π pandas –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö. –û–Ω–∞ –ø–æ–∑–≤–æ–ª—è–µ—Ç —Ä–∞–∑–±–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –Ω–∞ –≥—Ä—É–ø–ø—ã –∏ –ø–æ—Å—á–∏—Ç–∞—Ç—å —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏ –¥–ª—è –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø—ã.

–ü—Ä–µ–¥—Å—Ç–∞–≤—å—Ç–µ, —á—Ç–æ —É –≤–∞—Å –µ—Å—Ç—å –¥–∞–Ω–Ω—ã–µ –æ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∞—Ö —Ä–∞–∑–Ω—ã—Ö –æ—Ç–¥–µ–ª–æ–≤:
|–û—Ç–¥–µ–ª|–ó–∞—Ä–ø–ª–∞—Ç–∞|–û–ø—ã—Ç|
|-|-|-|
|IT|5000|3|
|HR|4000|2|
|IT|6000|5|
|HR|4500|4|

–í–æ–ø—Ä–æ—Å: –ö–∞–∫–∞—è —Å—Ä–µ–¥–Ω—è—è –∑–∞—Ä–ø–ª–∞—Ç–∞ –≤ –∫–∞–∂–¥–æ–º –æ—Ç–¥–µ–ª–µ?

–û—Ç–≤–µ—Ç —á–µ—Ä–µ–∑ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫—É:  
–ì—Ä—É–ø–ø–∞ IT: (5000 + 6000) / 2 = 5500  
–ì—Ä—É–ø–ø–∞ HR: (4000 + 4500) / 2 = 4250

–°–∏–Ω—Ç–∞–∫—Å–∏—Å –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏
```python
df.groupby('–≥—Ä—É–ø–ø–∏—Ä—É—é—â–∏–π_—Å—Ç–æ–ª–±–µ—Ü').agg(
    –Ω–æ–≤–æ–µ_–Ω–∞–∑–≤–∞–Ω–∏–µ=('—Å—Ç–æ–ª–±–µ—Ü_–¥–ª—è_–∞–Ω–∞–ª–∏–∑–∞', '—Ñ—É–Ω–∫—Ü–∏—è')
)
```

In [61]:
# –°—Ä–µ–¥–Ω—è—è –ø—Ä–æ–¥–æ–ª–∂–∏—Ç–µ–ª—å–Ω–æ—Å—Ç—å –ø–æ–µ–∑–¥–∫–∏ –ø–æ –ø–æ–≥–æ–¥–Ω—ã–º —É—Å–ª–æ–≤–∏—è–º
result = bikes.groupby('events').agg(
    avg_tripduration=('tripduration', 'mean')
)

print(result)

              avg_tripduration
events
clear               767.718240
cloudy              690.291346
fog                 570.557377
hazy                691.301724
mostlycloudy        736.609963
partlycloudy        725.389928
rain                633.748906
sleet               541.250000
snow                592.860515
tstorms             636.160377
unknown             635.750000

**–ö–æ–º–ø–æ–Ω–µ–Ω—Ç—ã –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏**
- –ì—Ä—É–ø–ø–∏—Ä—É—é—â–∏–π —Å—Ç–æ–ª–±–µ—Ü (events)
  - –ö–∞–∂–¥–æ–µ —É–Ω–∏–∫–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑—É–µ—Ç –æ—Ç–¥–µ–ª—å–Ω—É—é –≥—Ä—É–ø–ø—É
  - –ü—Ä–∏–º–µ—Ä: "Clear", "Rain", "Snow"  

- –ê–≥—Ä–µ–≥–∏—Ä—É–µ–º—ã–π —Å—Ç–æ–ª–±–µ—Ü (tripduration)
  - –°—Ç–æ–ª–±–µ—Ü, –∫ –∫–æ—Ç–æ—Ä–æ–º—É –ø—Ä–∏–º–µ–Ω—è–µ—Ç—Å—è —Ñ—É–Ω–∫—Ü–∏—è
  - –û–±—ã—á–Ω–æ —á–∏—Å–ª–æ–≤–æ–π —Å—Ç–æ–ª–±–µ—Ü  

- –ê–≥—Ä–µ–≥–∏—Ä—É—é—â–∞—è —Ñ—É–Ω–∫—Ü–∏—è (mean)
  - –§—É–Ω–∫—Ü–∏—è, –∫–æ—Ç–æ—Ä–∞—è –≤—ã—á–∏—Å–ª—è–µ—Ç —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫—É

|–§—É–Ω–∫—Ü–∏—è|–û–ø–∏—Å–∞–Ω–∏–µ|–ü—Ä–∏–º–µ—Ä|
|-|-|-|
|`sum`|–°—É–º–º–∞|('salary', 'sum')|
|`mean`|–°—Ä–µ–¥–Ω–µ–µ|('tripduration', 'mean')|
|`min`|–ú–∏–Ω–∏–º—É–º|('temperature', 'min')|
|`max`|–ú–∞–∫—Å–∏–º—É–º|('salary', 'max')|
|`count`|–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–µ–ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π|('name', 'count')|
|`std`|–°—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ|('sales', 'std')|
|`size`|–†–∞–∑–º–µ—Ä –≥—Ä—É–ø–ø—ã(–≤–∫–ª—é—á–∞—è –ø—Ä–æ–ø—É—Å–∫–∏)|-|

In [62]:
# –ù–µ—Å–∫–æ–ª—å–∫–æ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫ –¥–ª—è —Ä–∞–∑–Ω—ã—Ö —Å—Ç–æ–ª–±—Ü–æ–≤
bikes.groupby('events').agg(
    avg_duration=('tripduration', 'mean'),
    max_duration=('tripduration', 'max'),
    min_temperature=('temperature', 'min'),
    ride_count=('tripduration', 'count')
)

              avg_duration  max_duration  min_temperature  ride_count
events
clear           767.718240         73591             -8.0        2818
cloudy          690.291346         86188             -6.0       12075
fog             570.557377          1776             28.0         122
hazy            691.301724          7739             17.1         348
mostlycloudy    736.609963         63155             -2.0       15096
partlycloudy    725.389928         85442             -6.0       16998
rain            633.748906         28994             19.9        1828
sleet           541.250000          1257             21.9          16
snow            592.860515          8309              3.0         466
tstorms         636.160377          2868             35.1         318
unknown         635.750000          1325          -9999.0           4

### 6.15.2. –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –∏ –∞–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–∏–µ —Å –ø–æ–º–æ—â—å—é –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö —Å—Ç–æ–ª–±—Ü–æ–≤

–ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –ø–æ –Ω–µ—Å–∫–æ–ª—å–∫–∏–º —Å—Ç–æ–ª–±—Ü–∞–º –ø–æ–∑–≤–æ–ª—è–µ—Ç –∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –Ω–∞ –±–æ–ª–µ–µ –¥–µ—Ç–∞–ª—å–Ω–æ–º —É—Ä–æ–≤–Ω–µ, —Å–æ–∑–¥–∞–≤–∞—è –∫–æ–º–±–∏–Ω–∞—Ü–∏–∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–π.

In [63]:
# –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –ø–æ –¥–≤—É–º —Å—Ç–æ–ª–±—Ü–∞–º
# –°—Ä–µ–¥–Ω—è—è –¥–ª–∏—Ç–µ–ª—å–Ω–æ—Å—Ç—å –ø–æ–µ–∑–¥–∫–∏ –ø–æ –ø–æ–ª—É –∏ –ø–æ–≥–æ–¥–µ
result = bikes.groupby(['gender', 'events']).agg(
    avg_tripduration=('tripduration', 'mean')
)

print(result)

                     avg_tripduration
gender events
Female clear               889.229955
       cloudy              764.428671
       fog                 698.933333
       hazy                797.823529
       mostlycloudy        819.058638
       partlycloudy        839.990322
       rain                646.034568
       sleet               781.333333
       snow                613.750000
       tstorms             709.925000
       unknown             240.000000
Male   clear               730.481688
       cloudy              667.281823
       fog                 528.695652
       hazy                656.874525
       mostlycloudy        708.844771
       partlycloudy        684.834807
       rain                630.252284
       sleet               485.846154
       snow                589.534826
       tstorms             611.365546
       unknown             767.666667

–ü—Ä–æ–±–ª–µ–º–∞: –º–Ω–æ–≥–æ—É—Ä–æ–≤–Ω–µ–≤—ã–π –∏–Ω–¥–µ–∫—Å (MultiIndex). –ü–æ—Å–ª–µ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –ø–æ –Ω–µ—Å–∫–æ–ª—å–∫–∏–º —Å—Ç–æ–ª–±—Ü–∞–º pandas —Å–æ–∑–¥–∞–µ—Ç –∏–µ—Ä–∞—Ä—Ö–∏—á–µ—Å–∫–∏–π –∏–Ω–¥–µ–∫—Å, —á—Ç–æ –Ω–µ –≤—Å–µ–≥–¥–∞ —É–¥–æ–±–Ω–æ –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–π —Ä–∞–±–æ—Ç—ã.

–†–µ—à–µ–Ω–∏–µ: –ò—Å–ø–æ–ª—å–∑—É–µ–º `.reset_index()`

In [64]:
# –¢–æ –∂–µ —Å–∞–º–æ–µ, –Ω–æ —Å –Ω–æ—Ä–º–∞–ª—å–Ω—ã–º–∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏
result = bikes.groupby(['gender', 'events']).agg(
    avg_tripduration=('tripduration', 'mean')
).reset_index()

print(result)

    gender        events  avg_tripduration
0   Female         clear        889.229955
1   Female        cloudy        764.428671
2   Female           fog        698.933333
3   Female          hazy        797.823529
4   Female  mostlycloudy        819.058638
5   Female  partlycloudy        839.990322
6   Female          rain        646.034568
7   Female         sleet        781.333333
8   Female          snow        613.750000
9   Female       tstorms        709.925000
10  Female       unknown        240.000000
11    Male         clear        730.481688
12    Male        cloudy        667.281823
13    Male           fog        528.695652
14    Male          hazy        656.874525
15    Male  mostlycloudy        708.844771
16    Male  partlycloudy        684.834807
17    Male          rain        630.252284
18    Male         sleet        485.846154
19    Male          snow        589.534826
20    Male       tstorms        611.365546
21    Male       unknown        767.666667

In [65]:
# –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –ø–æ –¥–≤—É–º —Å—Ç–æ–ª–±—Ü–∞–º + –Ω–µ—Å–∫–æ–ª—å–∫–æ –∞–≥—Ä–µ–≥–∞—Ü–∏–π
result = bikes.groupby('events').agg(
    avg_tripduration=('tripduration', 'mean'),
    max_tripduration=('tripduration', 'max'),
    avg_temp=('temperature', 'mean'),
    min_temp=('temperature', 'min')
).reset_index()

print(result)

          events  avg_tripduration  max_tripduration     avg_temp  min_temp
0          clear        767.718240             73591    59.531476      -8.0
1         cloudy        690.291346             86188    56.621143      -6.0
2            fog        570.557377              1776    50.235246      28.0
3           hazy        691.301724              7739    55.594253      17.1
4   mostlycloudy        736.609963             63155    67.278551      -2.0
5   partlycloudy        725.389928             85442    65.444558      -6.0
6           rain        633.748906             28994    57.066247      19.9
7          sleet        541.250000              1257    31.243750      21.9
8           snow        592.860515              8309    26.654506       3.0
9        tstorms        636.160377              2868    74.200943      35.1
10       unknown        635.750000              1325 -2462.250000   -9999.0

In [66]:
# –î–µ—Ç–∞–ª—å–Ω—ã–π –∞–Ω–∞–ª–∏–∑ –ø–æ–µ–∑–¥–æ–∫
detailed_analysis = bikes.groupby(['gender', 'events']).agg(
    avg_duration=('tripduration', 'mean'),
    max_duration=('tripduration', 'max'),
    min_duration=('tripduration', 'min'),
    ride_count=('tripduration', 'count'),
    avg_temperature=('temperature', 'mean'),
    avg_wind_speed=('wind_speed', 'mean')
).reset_index()

print(detailed_analysis)

    gender        events  avg_duration  max_duration  min_duration  \
0   Female         clear    889.229955         46838            78
1   Female        cloudy    764.428671         79988            70
2   Female           fog    698.933333          1776           142
3   Female          hazy    797.823529          2219           139
4   Female  mostlycloudy    819.058638         63155            60
5   Female  partlycloudy    839.990322         85442            61
6   Female          rain    646.034568          2181            63
7   Female         sleet    781.333333          1257           387
8   Female          snow    613.750000          1766           126
9   Female       tstorms    709.925000          2868            63
10  Female       unknown    240.000000           240           240
11    Male         clear    730.481688         73591            69
12    Male        cloudy    667.281823         86188            60
13    Male           fog    528.695652          1398           105
14    Male          hazy    656.874525          7739            82
15    Male  mostlycloudy    708.844771         57997            60
16    Male  partlycloudy    684.834807         27674            60
17    Male          rain    630.252284         28994            65
18    Male         sleet    485.846154           982           166
19    Male          snow    589.534826          8309            80
20    Male       tstorms    611.365546          1951            74
21    Male       unknown    767.666667          1325           435

    ride_count  avg_temperature  avg_wind_speed
0          661        61.528744        7.814523
1         2860        58.803007       10.586993
2           30        51.296667        5.376667
3           85        56.274118        7.444706
4         3803        68.481909       10.459427
5         4443        67.243484        7.494103
6          405        57.939506       11.074321
7            3        29.600000       12.666667
8           64        26.782812       12.462500
9           80        75.375000     -112.675000
10           1     -9999.000000    -9999.000000
11        2157        58.919425        8.088827
12        9215        55.943972        6.559392
13          92        49.889130        4.671739
14         263        55.374525        7.823574
15       11293        66.873311        6.986266
16       12555        64.807949        5.957467
17        1423        56.817709       11.234996
18          13        31.623077       11.969231
19         402        26.634080       13.262438
20         238        73.806303       12.359244
21           3        50.000000        9.200000

### 6.15.3. –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ —Å –ø–æ–º–æ—â—å—é —Å–≤–æ–¥–Ω—ã—Ö —Ç–∞–±–ª–∏—Ü

–°–≤–æ–¥–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã ‚Äî —ç—Ç–æ –º–æ—â–Ω—ã–π –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞ –∏ –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–∏ –¥–∞–Ω–Ω—ã—Ö –≤ –ø–µ—Ä–µ–∫—Ä–µ—Å—Ç–Ω–æ–º —Ñ–æ—Ä–º–∞—Ç–µ. –û–Ω–∏ –ø–æ—Ö–æ–∂–∏ –Ω–∞ —Å–≤–æ–¥–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã –≤ Excel.

**–ë–∞–∑–æ–≤—ã–π —Å–∏–Ω—Ç–∞–∫—Å–∏—Å pivot_table**
```python
df.pivot_table(
    index='–≤–µ—Ä—Ç–∏–∫–∞–ª—å–Ω–∞—è_–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞',
    columns='–≥–æ—Ä–∏–∑–æ–Ω—Ç–∞–ª—å–Ω–∞—è_–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞', 
    values='–∞–Ω–∞–ª–∏–∑–∏—Ä—É–µ–º—ã–π_—Å—Ç–æ–ª–±–µ—Ü',
    aggfunc='—Ñ—É–Ω–∫—Ü–∏—è'
)
```

In [67]:
import pandas as pd

# –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö
ins = pd.read_csv('data/StateFarm_missing.csv', sep=';')

# –°–≤–æ–¥–Ω–∞—è —Ç–∞–±–ª–∏—Ü–∞: —Å—Ä–µ–¥–Ω–∏–π –¥–æ—Ö–æ–¥ –ø–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—é –∏ –ø–æ–ª—É
result = ins.pivot_table(
    index='Education',
    columns='Gender',
    values='Income',
    aggfunc='mean'
)

print(result)

Gender                           F             M
Education
Bachelor              37972.366023  37040.250000
College               37740.598055  36781.846543
Doctor                45731.160256  39342.279503
High School or Below  36211.804149  35891.237416
Master                44329.254190  45259.220000

In [68]:
# –û–∫—Ä—É–≥–ª–µ–Ω–∏–µ –∏ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –≤ —Ü–µ–ª—ã–µ —á–∏—Å–ª–∞
clean_result = ins.pivot_table(
    index='Education',
    columns='Gender',
    values='Income',
    aggfunc='mean'
).round(-3).astype('int')

print(clean_result)

Gender                    F      M
Education
Bachelor              38000  37000
College               38000  37000
Doctor                46000  39000
High School or Below  36000  36000
Master                44000  45000

**–°—Ä–∞–≤–Ω–µ–Ω–∏–µ —Å groupby**

In [69]:
# –õ–µ–≥–∫–æ —Å—Ä–∞–≤–Ω–∏–≤–∞—Ç—å –ø–æ –≥–æ—Ä–∏–∑–æ–Ω—Ç–∞–ª–∏
ins.pivot_table(index='Education', columns='Gender', values='Income', aggfunc='mean')

Gender                           F             M
Education
Bachelor              37972.366023  37040.250000
College               37740.598055  36781.846543
Doctor                45731.160256  39342.279503
High School or Below  36211.804149  35891.237416
Master                44329.254190  45259.220000

In [70]:
# –°–ª–æ–∂–Ω–µ–µ —Å—Ä–∞–≤–Ω–∏–≤–∞—Ç—å
ins.groupby(['Gender', 'Education']).agg(mean_salary=('Income', 'mean'))

                              mean_salary
Gender Education
F      Bachelor              37972.366023
       College               37740.598055
       Doctor                45731.160256
       High School or Below  36211.804149
       Master                44329.254190
M      Bachelor              37040.250000
       College               36781.846543
       Doctor                39342.279503
       High School or Below  35891.237416
       Master                45259.220000

**–í–∏–∑—É–∞–ª—å–Ω–æ–µ —Ñ–æ—Ä–º–∞—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ**

In [71]:
emp_edu_mean_clv = ins.pivot_table(
    index='EmploymentStatus',
    columns='Education', 
    values='Customer Lifetime Value',
    aggfunc='mean'
).astype('int64')

# –ü–æ–¥—Å–≤–µ—Ç–∫–∞ –º–∞–∫—Å–∏–º—É–º–æ–≤ –ø–æ —Å—Ç–æ–ª–±—Ü–∞–º
emp_edu_mean_clv.style.highlight_max()

In [72]:
# –ü–æ–¥—Å–≤–µ—Ç–∫–∞ –º–∞–∫—Å–∏–º—É–º–æ–≤ –ø–æ —Å—Ç—Ä–æ–∫–∞–º  
emp_edu_mean_clv.style.highlight_max(axis='columns')

In [73]:
# –ì—Ä–∞–¥–∏–µ–Ω—Ç–Ω–∞—è –∑–∞–ª–∏–≤–∫–∞
emp_edu_mean_clv.style.background_gradient(cmap='Oranges')

In [74]:
# –ü–æ–¥—Å–≤–µ—Ç–∫–∞ –º–∏–Ω–∏–º—É–º–æ–≤ –∏ –º–∞–∫—Å–∏–º—É–º–æ–≤
emp_edu_mean_clv.style.highlight_max(color='yellow') \
                  .highlight_min(color='lightblue')

In [75]:
# –î–æ–±–∞–≤–ª—è–µ–º –∏—Ç–æ–≥–∏ –ø–æ —Å—Ç—Ä–æ–∫–∞–º –∏ —Å—Ç–æ–ª–±—Ü–∞–º
ins.pivot_table(
    index='EmploymentStatus',
    columns='Education',
    values='Income', 
    aggfunc='mean',
    margins=True  # –î–æ–±–∞–≤–ª—è–µ—Ç —Å—Ç—Ä–æ–∫—É –∏ —Å—Ç–æ–ª–±–µ—Ü "All"
)

Education,Bachelor,College,Doctor,High School or Below,Master,All
EmploymentStatus,,,,,,
Disabled,19981.508772,20604.397590,20397.904762,19145.635514,21065.675676,20012.226519
Employed,56272.710238,55899.775851,55413.704348,57315.307365,56674.939024,56448.846703
Medical Leave,19720.584071,20586.947368,18364.933333,21003.962264,19227.400000,20278.237245
Retired,21276.468354,20543.802198,19186.000000,19570.354839,20025.263158,20489.503968
Unemployed,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
All,37521.522855,37236.148347,42486.334385,36052.390071,44802.223065,37782.136962

In [76]:
# –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–∞–±–ª—é–¥–µ–Ω–∏–π –≤ –∫–∞–∂–¥–æ–π –∫–æ–º–±–∏–Ω–∞—Ü–∏–∏
ins.pivot_table(
    index='EmploymentStatus',
    columns='Education', 
    aggfunc='size'  # –ù–µ —Ç—Ä–µ–±—É–µ—Ç values!
)

Education         Bachelor  College  Doctor  High School or Below  Master
EmploymentStatus
Disabled               114       83      21                   107      37
Employed              1553     1499     230                  1412     492
Medical Leave          113      133      15                   106      25
Retired                 79       91       1                    62      19
Unemployed             635      614      50                   710      86

In [77]:
# –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –ø–æ –ø–æ–ª—É –∏ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—é –≤ –∑–∞–≥–æ–ª–æ–≤–∫–∞—Ö
ins.pivot_table(
    index='EmploymentStatus', 
    columns=['Gender', 'Education'],
    values='Income',
    aggfunc='max'
)

Gender                  F                                                  \
Education        Bachelor  College   Doctor High School or Below   Master
EmploymentStatus
Disabled          29633.0  29958.0  29950.0              28672.0  29981.0
Employed          99803.0  99961.0  98912.0              99841.0  99875.0
Medical Leave     29957.0  29539.0  26463.0              29658.0  27229.0
Retired           25859.0  28321.0      NaN              28120.0  26161.0
Unemployed            0.0      0.0      0.0                  0.0      0.0

Gender                  M
Education        Bachelor  College   Doctor High School or Below   Master
EmploymentStatus
Disabled          28898.0  28617.0  29808.0              29295.0  28245.0
Employed          99981.0  99816.0  99443.0              99874.0  99960.0
Medical Leave     29926.0  29723.0  23053.0              29664.0  26840.0
Retired           29465.0  29692.0  19186.0              28140.0  24182.0
Unemployed            0.0      0.0      0.0                  0.0      0.0

In [78]:
# –î–æ—Ö–æ–¥ –∏ –ø–æ–∂–∏–∑–Ω–µ–Ω–Ω–∞—è —Ü–µ–Ω–Ω–æ—Å—Ç—å –∫–ª–∏–µ–Ω—Ç–∞
ins.pivot_table(
    index='Education',
    columns='Gender',
    values=['Income', 'Customer Lifetime Value'],
    aggfunc='mean',
    margins=True
)

                     Customer Lifetime Value                            \
Gender                                     F            M          All
Education
Bachelor                         7980.275871  7675.774393  7833.763532
College                          7757.306941  7868.564624  7811.832401
Doctor                           7530.432422  7702.351623  7617.747852
High School or Below             8504.800424  8093.913831  8300.471338
Master                           8457.905556  8015.928886  8256.396436
All                              8088.051778  7882.111780  7987.666592

                            Income
Gender                           F             M           All
Education
Bachelor              37972.366023  37040.250000  37539.099439
College               37740.598055  36781.846543  37270.730579
Doctor                45731.160256  39342.279503  42486.334385
High School or Below  36211.804149  35891.237416  36052.390071
Master                44329.254190  45259.220000  44753.250760
All                   38235.288439  37327.506313  37792.791214

## 6.16. –ê–Ω–∞–ª–∏–∑ —á–∞—Å—Ç–æ—Ç —Å –ø–æ–º–æ—â—å—é —Ç–∞–±–ª–∏—Ü —Å–æ–ø—Ä—è–∂–µ–Ω–Ω–æ—Å—Ç–∏

–ê–Ω–∞–ª–∏–∑ —á–∞—Å—Ç–æ—Ç –ø–æ–º–æ–≥–∞–µ—Ç –ø–æ–Ω—è—Ç—å —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö, –∞ —Ç–∞–±–ª–∏—Ü—ã —Å–æ–ø—Ä—è–∂–µ–Ω–Ω–æ—Å—Ç–∏ –ø–æ–∫–∞–∑—ã–≤–∞—é—Ç —Å–æ–≤–º–µ—Å—Ç–Ω–æ–µ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –¥–≤—É—Ö –∏ –±–æ–ª–µ–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö.

–ê–Ω–∞–ª–∏–∑ —á–∞—Å—Ç–æ—Ç —Å –ø–æ–º–æ—â—å—é `value_counts()`

In [79]:
# –ê–±—Å–æ–ª—é—Ç–Ω—ã–µ —á–∞—Å—Ç–æ—Ç—ã –≤–∏–¥–æ–≤ —Å—Ç—Ä–∞—Ö–æ–≤–æ–≥–æ –ø–æ–∫—Ä—ã—Ç–∏—è
ins['Coverage'].value_counts(dropna=False)

Coverage
Basic       5038
Extended    2501
Premium      749
NaN            5
Name: count, dtype: int64

In [80]:
# –û—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω—ã–µ —á–∞—Å—Ç–æ—Ç—ã (–¥–æ–ª–∏)
ins['Coverage'].value_counts(dropna=False, normalize=True)

Coverage
Basic       0.607500
Extended    0.301580
Premium     0.090317
NaN         0.000603
Name: proportion, dtype: float64

**–ê–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–Ω—ã–µ —Å–ø–æ—Å–æ–±—ã –ø–æ–¥—Å—á–µ—Ç–∞ —á–∞—Å—Ç–æ—Ç**

In [81]:
# –ê–±—Å–æ–ª—é—Ç–Ω—ã–µ —á–∞—Å—Ç–æ—Ç—ã –∫–æ–º–±–∏–Ω–∞—Ü–∏–π –ø–æ–∫—Ä—ã—Ç–∏—è –∏ –ø–æ–ª–∞. –ß–µ—Ä–µ–∑ groupby() + size()
ins.groupby(['Coverage', 'Gender']).size().reset_index(name='count')

   Coverage Gender  count
0     Basic      F   2547
1     Basic      M   2489
2  Extended      F   1308
3  Extended      M   1192
4   Premium      F    392
5   Premium      M    356

In [82]:
# –¢–∞–±–ª–∏—Ü–∞ —Å–æ–ø—Ä—è–∂–µ–Ω–Ω–æ—Å—Ç–∏ –ø–æ–∫—Ä—ã—Ç–∏—è –∏ –ø–æ–ª–∞. –ß–µ—Ä–µ–∑ pivot_table()
ins.pivot_table(index='Coverage', columns='Gender', aggfunc='size')

Gender       F     M
Coverage
Basic     2547  2489
Extended  1308  1192
Premium    392   356

–¢–∞–±–ª–∏—Ü—ã —Å–æ–ø—Ä—è–∂–µ–Ω–Ω–æ—Å—Ç–∏ —Å `pd.crosstab()`  
`pd.crosstab()` ‚Äî —Å–ø–µ—Ü–∏–∞–ª–∏–∑–∏—Ä–æ–≤–∞–Ω–Ω–∞—è —Ñ—É–Ω–∫—Ü–∏—è –¥–ª—è —Å–æ–∑–¥–∞–Ω–∏—è —Ç–∞–±–ª–∏—Ü —Å–æ–ø—Ä—è–∂–µ–Ω–Ω–æ—Å—Ç–∏.

 –ö–ª—é—á–µ–≤—ã–µ –ø–∞—Ä–∞–º–µ—Ç—Ä—ã crosstab()
- `normalize='index'` ‚Äî –ø—Ä–æ—Ü–µ–Ω—Ç—ã –ø–æ —Å—Ç—Ä–æ–∫–∞–º
- `normalize='columns` ‚Äî –ø—Ä–æ—Ü–µ–Ω—Ç—ã –ø–æ —Å—Ç–æ–ª–±—Ü–∞–º
- `normalize='all'` ‚Äî –ø—Ä–æ—Ü–µ–Ω—Ç—ã –æ—Ç –æ–±—â–µ–≥–æ —á–∏—Å–ª–∞
- `margins=True` ‚Äî –¥–æ–±–∞–≤–∏—Ç—å –∏—Ç–æ–≥–∏
- `margins_name='Total'` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –¥–ª—è –∏—Ç–æ–≥–æ–≤


–ë–∞–∑–æ–≤–∞—è —Ç–∞–±–ª–∏—Ü–∞ —Å–æ–ø—Ä—è–∂–µ–Ω–Ω–æ—Å—Ç–∏

In [83]:
# –ê–±—Å–æ–ª—é—Ç–Ω—ã–µ —á–∞—Å—Ç–æ—Ç—ã: –ø–æ–∫—Ä—ã—Ç–∏–µ √ó –ø–æ–ª
pd.crosstab(index=ins['Coverage'], columns=ins['Gender'])

Gender       F     M
Coverage
Basic     2547  2489
Extended  1308  1192
Premium    392   356

**–û—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω—ã–µ —á–∞—Å—Ç–æ—Ç—ã –≤ —Ç–∞–±–ª–∏—Ü–∞—Ö —Å–æ–ø—Ä—è–∂–µ–Ω–Ω–æ—Å—Ç–∏**

In [84]:
# –ù–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è –ø–æ —Å—Ç—Ä–æ–∫–∞–º
# –ö–∞–∫–æ–π % –º—É–∂—á–∏–Ω/–∂–µ–Ω—â–∏–Ω –≤ –∫–∞–∂–¥–æ–º –≤–∏–¥–µ –ø–æ–∫—Ä—ã—Ç–∏—è?
pd.crosstab(index=ins['Coverage'], 
           columns=ins['Gender'], 
           normalize='index').round(3) * 100

Gender       F     M
Coverage
Basic     50.6  49.4
Extended  52.3  47.7
Premium   52.4  47.6

In [85]:
# –ù–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è –ø–æ —Å—Ç–æ–ª–±—Ü–∞–º
# –ö–∞–∫–æ–µ –ø–æ–∫—Ä—ã—Ç–∏–µ –≤—ã–±–∏—Ä–∞—é—Ç –º—É–∂—á–∏–Ω—ã/–∂–µ–Ω—â–∏–Ω—ã?
pd.crosstab(index=ins['Coverage'], 
           columns=ins['Gender'], 
           normalize='columns').round(3) * 100

Gender       F     M
Coverage
Basic     60.0  61.7
Extended  30.8  29.5
Premium    9.2   8.8

In [86]:
# –ù–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è –ø–æ –≤—Å–µ–π —Ç–∞–±–ª–∏—Ü–µ
# –î–æ–ª–∏ –æ—Ç –æ–±—â–µ–≥–æ —á–∏—Å–ª–∞ –Ω–∞–±–ª—é–¥–µ–Ω–∏–π
pd.crosstab(index=ins['Coverage'], 
           columns=ins['Gender'], 
           normalize='all').round(3) * 100

Gender       F     M
Coverage
Basic     30.7  30.0
Extended  15.8  14.4
Premium    4.7   4.3

In [87]:
# –î–æ–±–∞–≤–ª—è–µ–º –∏—Ç–æ–≥–∏
pd.crosstab(index=ins['Coverage'], 
           columns=ins['Gender'], 
           margins=True)

Gender       F     M   All
Coverage
Basic     2547  2489  5036
Extended  1308  1192  2500
Premium    392   356   748
All       4247  4037  8284

**–°—Ä–∞–≤–Ω–µ–Ω–∏–µ –º–µ—Ç–æ–¥–æ–≤**
|–ú–µ—Ç–æ–¥|–ü—Ä–µ–∏–º—É—â–µ—Å—Ç–≤–∞|–ù–µ–¥–æ—Å—Ç–∞—Ç–∫–∏|
|-|-|-|
|`value_counts()`|–ü—Ä–æ—Å—Ç–æ–π, –±—ã—Å—Ç—Ä—ã–π|–¢–æ–ª—å–∫–æ –æ–¥–Ω–∞ –ø–µ—Ä–µ–º–µ–Ω–Ω–∞—è|
|`groupby().size()`|–ì–∏–±–∫–∏–π, –º–æ–∂–Ω–æ –¥–æ–±–∞–≤–ª—è—Ç—å —Å—Ç–æ–ª–±—Ü—ã|–°–ª–æ–∂–Ω–µ–µ –¥–ª—è —Ç–∞–±–ª–∏—Ü —Å–æ–ø—Ä—è–∂–µ–Ω–Ω–æ—Å—Ç–∏|
|`pivot_table()`|–£–Ω–∏–≤–µ—Ä—Å–∞–ª—å–Ω—ã–π|–°–ª–æ–∂–Ω—ã–π —Å–∏–Ω—Ç–∞–∫—Å–∏—Å –¥–ª—è —á–∞—Å—Ç–æ—Ç|
|`crosstab()`|–°–ø–µ—Ü–∏–∞–ª–∏–∑–∏—Ä–æ–≤–∞–Ω–Ω—ã–π, –Ω–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è|–¢–æ–ª—å–∫–æ –¥–ª—è —á–∞—Å—Ç–æ—Ç|

## 6.17. –í—ã–ø–æ–ª–Ω–µ–Ω–∏–µ SQL-–∑–∞–ø—Ä–æ—Å–æ–≤ –≤ pandas

Pandas –ø–æ–∑–≤–æ–ª—è–µ—Ç —Ä–∞–±–æ—Ç–∞—Ç—å —Å –¥–∞–Ω–Ω—ã–º–∏ –∫–∞–∫ –≤ —Ä–µ–ª—è—Ü–∏–æ–Ω–Ω–æ–π –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö, –∏—Å–ø–æ–ª—å–∑—É—è –ª–∏–±–æ SQL-—Å–∏–Ω—Ç–∞–∫—Å–∏—Å —á–µ—Ä–µ–∑ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –ë–î, –ª–∏–±–æ –Ω–∞—Ç–∏–≤–Ω—ã–µ –º–µ—Ç–æ–¥—ã pandas.

In [3]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import pandas as pd
import sqlite3

# –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö –≤ pandas
airports = pd.read_csv('data/airports.csv')

# –°–æ–∑–¥–∞–Ω–∏–µ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è –∫ SQLite –±–∞–∑–µ
connection = sqlite3.connect('data/flights.sqlite')

# –°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –≤ SQL —Ç–∞–±–ª–∏—Ü—É
airports.to_sql('AIRPORTS', connection, if_exists='replace')
connection.commit()